/*IMAGENES DE GRUPOS*/
#profile:is([class*="profilegroup-staff"], [class*="profilegroup-nogroup"]) {--profgrimg: url('https://d.l3n.co/bVGcoP.png');}
#profile:is([class*="profilegroup-nogroup"]) {--profgrimg: url('https://b.l3n.co/bVFPFi.jpg');}
#profile:is([class*="profilegroup-nemesis"]) {--profgrimg: url('https://d.l3n.co/bVGE2i.png');}
#profile:is([class*="profilegroup-tyche"]) {--profgrimg: url('https://d.l3n.co/bVUj80.png');}
#profile:is([class*="profilegroup-persefone"]) {--profgrimg: url('https://b.l3n.co/bVGkCo.png');}
#profile:is([class*="profilegroup-afrodita"]) {--profgrimg: url('https://a.l3n.co/bVUrRM.png');}
#profile:is([class*="profilegroup-dioniso"]) {--profgrimg: url('https://d.l3n.co/bVG6S9.png');}
#profile:is([class*="profilegroup-hades"]) {--profgrimg: url('https://a.l3n.co/bVU1Fa.png');}
#profile:is([class*="profilegroup-hecate"]) {--profgrimg: url('https://a.l3n.co/bVcFav.png');}
#profile:is([class*="profilegroup-hypnos"]) {--profgrimg: url('https://d.l3n.co/bVyN5x.png');}
#profile:is([class*="profilegroup-artemisa"]) {--profgrimg: url('https://c.l3n.co/bVGCx2.png');}
#profile:is([class*="profilegroup-poseidon"]) {--profgrimg: url('https://c.l3n.co/bV5o45.png');}
#profile:is([class*="profilegroup-atenea"]) {--profgrimg: url('https://b.l3n.co/bVUIeq.png');}
#profile:is([class*="profilegroup-khione"]) {--profgrimg: url('https://b.l3n.co/bVGQ1v.png');}
#profile:is([class*="profilegroup-hebe"]) {--profgrimg: url('https://a.l3n.co/bVGHpD.png');}
#profile:is([class*="profilegroup-iris"]) {--profgrimg: url('https://d.l3n.co/bVGlFq.png');}
#profile:is([class*="profilegroup-demeter"]) {--profgrimg: url('https://c.l3n.co/bVGSIA.png');}
#profile:is([class*="profilegroup-hermes"]) {--profgrimg: url('https://d.l3n.co/bVGeBM.png');}
#profile:is([class*="profilegroup-hestia"]) {--profgrimg: url('https://c.l3n.co/bVGnoQ.png');}
#profile:is([class*="profilegroup-apolo"]) {--profgrimg: url('https://d.l3n.co/bVGFIK.png');}
#profile:is([class*="profilegroup-zeus"]) {--profgrimg: url('https://a.l3n.co/bVGUmZ.png');}
#profile:is([class*="profilegroup-hefesto"]) {--profgrimg: url('https://a.l3n.co/bVGYek.png');}
#profile:is([class*="profilegroup-ares"]) {--profgrimg: url('https://c.l3n.co/bVU0JD.png');}

/*QUITAR HEADER, TABLÓN Y FOOTER*/
body:has(#profile) {
  height: 100%;
  min-height: 100vh;
  header, 
  #tablon, 
  footer {
    display: none;
  }
  main {
    align-self: stretch;
    display: grid;
    align-items: center;
    flex: 1;
    height: fit-content;
    min-height: calc(100vh - var(--nav-height));
    width: 100%;
    max-width: none;
  }
  #nomiresSafe {
    height: 100%;
  }
}

/*CSS BÁSICO DEL PERFIL*/
#profile {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: var(--tback1);
  border: var(--border1);
  height: 100%;
  container: profcont / inline-size;
}
#profile *::selection {
  background: var(--tgroup) !important;
}
.profava,
.pfcushid,
.pfcdathid,
#field_id12,
.proflinks > div:empty,
.pfcfield#field_id:nth-of-type(2),
.ajax-profil_edit img {
  display: none !important;
}
#profile,
#profile .profcont,
#profile .profimg,
#car-hold {
  min-height: 32rem;
}
#profile .profcont {
  flex: 1;
  align-self: stretch;
  min-width: 32.143rem;
  display: flex;
}
/***html+css carousel base by essi. https://sourced.jcink.net***/
#car-hold {
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
  /*! flex: 1 0 65%; */
  container: profinfocont / size;
  position: relative;
  display: flex;
  flex-direction: column;
}
#car-hold input {
  display: none;
}
.pfct-pagination {
  width: 100%;
  border-top: var(--border1);
  background: var(--tback1);
  position: relative;
  height: calc(var(--padd2) + (var(--gap2) * 2) + 1px);
}
.pfct-pg-butt {
  align-items: center;
  justify-content: center;
  padding: var(--gap2);
  gap: var(--gap2);
  border-right: var(--border1);
  background: var(--back1);
}
.pfct-pg-name {
  padding: var(--gap2) var(--gap5);
  align-items: center;
  background: var(--tback2);
  flex: 1;
  justify-content: flex-end;
  position: relative;
  & span {
    position: absolute;
    text-transform: uppercase;
    font: var(--fo-deco1);
    font-weight: 800;
    color: var(--txt2);
    opacity: 0;
    line-height: 100%;
  }
}
.left-tabs,
.right-tabs {
  position: relative;
  width: var(--padd2);
  height: var(--padd2);
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  & label {
    padding: 0px !important;
    width: 100%;
    height: 100%;
    background: var(--back2);
    border-radius: var(--bradius);
    border: var(--border1);
    color: var(--txt1);
    font-size: var(--fs-small);
    position: absolute;
    inset: 0;
    cursor: var(--crs2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--trs1);
    &:hover {
      background: var(--group);
      border-color: var(--group);
      color: var(--back1);
    }
  }
}
#hold-carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  inset: 0;
}
.carousel {
  position: absolute;
  inset: 0;
  display: flex;
  width: 600%;
  transition: var(--trs2);
  align-items: center;
}
.tab {
  display: block;
  width: 100%;
  height: 100%;
  border: var(--paddclamp1) solid transparent;
  overflow-y: auto;
  overflow-x: hidden;
  border-right-width: calc(var(--paddclamp1) / 2);
  &>div {
    padding-right: calc(var(--paddclamp1) / 2);
    overflow: hidden;
    height: 100%;
  }
}
/* EFECTO TRANSICION */
#profile:has(#car1:checked) .pfct-pg-name span:nth-child(1),
#profile:has(#car2:checked) .pfct-pg-name span:nth-child(2),
#profile:has(#car3:checked) .pfct-pg-name span:nth-child(3),
#profile:has(#car4:checked) .pfct-pg-name span:nth-child(4),
#profile:has(#car5:checked) .pfct-pg-name span:nth-child(5),
#profile:has(#car6:checked) .pfct-pg-name span:nth-child(6) {
  opacity: 1;
  transition: var(--trs1);
}
#profile:has(#car1:checked) .left-tabs label:nth-child(6),
#profile:has(#car2:checked) .left-tabs label:nth-child(1),
#profile:has(#car3:checked) .left-tabs label:nth-child(2),
#profile:has(#car4:checked) .left-tabs label:nth-child(3),
#profile:has(#car5:checked) .left-tabs label:nth-child(4),
#profile:has(#car6:checked) .left-tabs label:nth-child(5) {
  z-index: 3;
}
#profile:has(#car6:checked) .right-tabs label:nth-child(1),
#profile:has(#car1:checked) .right-tabs label:nth-child(2),
#profile:has(#car2:checked) .right-tabs label:nth-child(3),
#profile:has(#car3:checked) .right-tabs label:nth-child(4),
#profile:has(#car4:checked) .right-tabs label:nth-child(5),
#profile:has(#car5:checked) .right-tabs label:nth-child(6) {
  z-index: 3;
}
#profile:has(#car1:checked) #hold-carousel .carousel {
  margin-left: 0%;
}
#profile:has(#car2:checked) #hold-carousel .carousel {
  margin-left: -100%;
}
#profile:has(#car3:checked) #hold-carousel .carousel {
  margin-left: calc(-100% * 2);
}
#profile:has(#car4:checked) #hold-carousel .carousel {
  margin-left: calc(-100% * 3);
}
#profile:has(#car5:checked) #hold-carousel .carousel {
  margin-left: calc(-100% * 4);
}
#profile:has(#car6:checked) #hold-carousel .carousel {
  margin-left: calc(-100% * 5);
}
/* ZONA DE CANCIÓN */
#profile .profimg {
  border-left: var(--border1);
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 0 35%;
  max-width: 29.0rem;
  min-width: 20rem;
  width: 100%;
  & .prfimgcont {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--paddclamp8);
    padding: var(--padd3);
    width: 100%;
    flex: 1;
    position: relative;
    z-index: 5;
  }
  & .primgback {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
      &:before, &:after {
      content: '';
      position: absolute;
      z-index: 0;
      height: 100%;
      width: 100%;
      inset: 0;
    }
    &:before {
      background: var(--tback1);
      filter: var(--filter2);
      background-image: var(--profgrimg);
      background-size: cover;
      background-position: center;
    }
    &:after {
      background: var(--accent);
      opacity: 1;
      mix-blend-mode: multiply;
    }
}
  & .pccontent .field_uneditable {
    width: 100%;
    height: 100%;
  }
}
.profextra {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 3;
  align-items: center;
  justify-content: space-between;
  padding: var(--gap4);
  border-bottom: var(--border1);
  background: var(--back2);
  gap: var(--gap3);
  & .prextlinks {
    text-align: left;
    text-transform: uppercase;
    gap: var(--gap2);
    & a {
      font: var(--fo-deco2);
      font-weight: bold;
      line-height: 120%;
      text-decoration: underline;
      text-decoration-thickness: var(--bthickness);
      text-decoration-color: var(--tgroup);
      color: var(--txt2);
      text-underline-offset: var(--bthickness);
      &:hover {
        color: var(--group);
      }
    }
  }
  & > span {
    text-transform: uppercase;
    font: var(--fo-deco3);
    font-weight: 800;
    line-height: 100%;
    color: var(--txt3);
    text-align: right;
  }
}
.pfcticon {
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  outline: var(--bthickness) solid var(--accent);
  margin: var(--bthickness);
  border-radius: var(--bradius);
  border: 4px solid transparent;
  overflow: hidden;
  outline-color: var(--group);
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  display: flex;
  & img {
    width: var(--icon2);
    height: var(--icon2);
    overflow: hidden;
    border-radius: var(--bradius);
    object-fit: cover;
    object-position: center;
  }
  &:empty:before {
    content: "";
    display: block;
    background-image: url(https://2img.net/i.imgur.com/xr5u4bH.png);
    background-position: center;
    background-size: contain;
  }
}
.profmusic {
  position: relative;
  z-index: 3;
  gap: var(--gap1);
  margin-top: var(--gap4);
  & .pfcntitle {
    text-transform: uppercase;
    font: var(--fo-h4);
    color: var(--txt1);
    text-shadow: 1px 1px 0.5px var(--group);
    font-size: var(--fo-h4-clamp);
    line-height: 80%;
  }
  & .pfcnauthor {
    text-transform: uppercase;
    display: block ruby;
    font: var(--fo-deco2);
    font-weight: 800;
    color: var(--txt3);
    margin-bottom: var(--gap4);
    & span {
      color: var(--group);
    }
  }
  & [glenplayer02].done {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: var(--padd0);
    &:before, &:after {
      font: var(--fo-icon2);
      font-weight: bold;
      color: var(--txt3);
      border-radius: var(--bradius);
    }
    &:before {
      content:'\f04a';
    }
    &:after {
      content:'\f04e';
    }
    & .player-inner {
      & .buttons {
        & button {
          &:before {
            font: var(--fo-icon1);
            font-weight: bold;
            color: var(--txt3);
            border-radius: var(--bradius);
            color: var(--txt1);
          }
          &:hover {
            &:before {
              font-weight: normal;
            }
          }
          & i {
            display: none;
          }
          &[play-button] {
            &:before {
              content:'\f04b';
            }
          }
          &[pause-button] {
            &:before {
              content:'\f04c';
            }
          }
        }
      }
    }
  }
}
/* PAG - DATOS */
.pfcone {
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--paddclamp3);
}
.pfcname {
  text-shadow: 1.5px 1px 0.5px var(--group);
  font: var(--fo-h2);
  font-size: var(--fo-h2-clamp);
  line-height: 85%;
  text-transform: uppercase;
  & > span {
    color: var(--txt1) !important;
  }
  & > span > strong {
    font-weight: 900;
  }
}
.pfcdata {
  gap: var(--gap2);
}
.pfcquote {
  text-transform: lowercase;
  font: var(--fo-deco2);
  font-style: italic;
  line-height: 100%;
  color: var(--txt4);
  & .pccontent {
  display: flex;
  align-items: center;
    &:before {
      content: "";
      width: var(--paddclamp1);
      height: var(--bthickness);
      float: left;
      background: var(--tgroup);
      margin-right: var(--gap2);
      position: relative;
      align-self: center;
    }
  }
}
.pfcmain {
  border-radius: var(--bradius);
  border-top: var(--tborder);
  border-bottom: var(--tborder);
  width: 100%;
  justify-content: space-between;
  padding: var(--paddclamp4);
  gap: var(--paddclamp4) var(--paddclamp5);
  flex-wrap: wrap;
  overflow: auto;
  align-items: center;
  & > div {
    flex: 1 0 25%;
    gap: var(--gap1);
    & > em {
      text-transform: uppercase;
      font: var(--fo-deco2);
      font-weight: 800;
      color: var(--txt4);
      line-height: 100%;
    }
    & > b {
      text-transform: uppercase;
      font: var(--fo-bod2);
      font-weight: 900;
      line-height: 85%;
      color: var(--txt2);
    }
  }
}
.pfclinks {
  gap: var(--gap3);
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  & a {
    color: var(--group) !important;
    background: var(--back1);
    height: var(--padd4);
    width: var(--padd4);
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border1);
    border-radius: var(--bradius);
    font-size: var(--fs-body);
    &:hover {
      color: var(--back1) !important;
      background: var(--group);
      border-color: var(--group);
    }
  }
}
/* PAG - ESTADISTICAS */
.pfctwo {
  align-items: center;
  justify-content: space-around;
  gap: var(--paddclamp5);
  overflow: auto !important;
}
.pfcchar {
  gap: var(--gap0);
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: calc(var(--fs-icons));
}
.pfcchar > div {
  position: relative;
  z-index: 1;
}
.pfcweap {
  position: absolute !important;
  z-index: 0 !important;
  color: var(--tgroup);
  font-size: calc(var(--fs-icons) + .5rem);
  opacity: 0.8;
}
.pfctrank {
  font: var(--fo-h3);
  font-size: var(--fo-h3-clamp);
  text-transform: uppercase;
  color: var(--txt1);
  line-height: 85%;
  justify-content: center;
  align-items: center;
  & > i {
    position: absolute;
    display: none;
  }
  & > span {
    text-shadow: 1.5px 1px 0.5px var(--group);
  }
}
.pfclvl {
  font: var(--fo-bod1);
  font-weight: 900;
  text-transform: uppercase;
  color: var(--txt3);
  gap: var(--gap0);
  line-height: 100%;
  & > b {
    font-weight: 900;
  }
  & > em {
    font-style: normal;
    color: var(--txt1);
  }
}
.pfctraits {
  text-align: center;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  gap: var(--gap4);
  flex-wrap: wrap;
  & > div {
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: var(--gap2);
    & > b {
      text-transform: uppercase;
      font: var(--fo-deco2);
      font-weight: 800;
      color: var(--txt1);
      & > u {
        text-decoration-color: var(--tgroup);
        text-decoration-thickness: var(--bthickness);
        text-underline-offset: var(--bthickness);
      }
    }
  }
}
#pfctbar {
  width: 100%;
  height: var(--gap5);
  background: var(--border2-c);
  border: var(--gap0) solid var(--back2);
  border-radius: var(--bradius);
  position: relative;
  & .pfctbarr {
    position: absolute;
    background: var(--group);
    border-radius: var(--bradius);
    height: 100%;
    inset: 0;
    z-index: 2;
  }
}
.pfcstats {
  width: 100%;
  flex: 1;
  & > .pccontent {
    width: 100%;
    height: 100%;
    display: flex;
      & > div {
      display: flex;
      justify-content: space-around;
      gap: var(--gap4);
      flex-wrap: wrap;
      align-self: stretch;
      flex: 1;
          & > strong {
        flex: 1 0 25%;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: var(--bradius);
        border-left: var(--tborder);
        border-right: var(--tborder);
        border-bottom: var(--bborder1);
        border-bottom-color: var(--group);
        padding: var(--padd1) var(--gap3);
        font: var(--fo-deco1);
        font-weight: 800;
        color: var(--txt1);
        line-height: 100%;
        gap: var(--gap2);
        max-width: 50%;
        line-height: 100%;
              & > i {
          font-style: normal;
          font-family: var(--font2);
          font-size: var(--fs-bigger);
          font-weight: 900;
          color: var(--txt4);
          line-height: 70%;
        }
}
}
    & > div.field_editable.invisible {
      display: none !important;
    }
}
}
.pfcdetails {
  gap: var(--paddclamp8);
  text-align: center;
  width: 100%;
  justify-content: center;
  & > div {
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    gap: var(--gap0);
    flex: 1;
    padding: var(--gap3) var(--paddclamp8);
    &:first-of-type {
      border-right: var(--tborder);
    }
    &:last-of-type {
      border-left: var(--tborder);
    }
    & > b {
      font: var(--fo-h5);
      font-weight: 900;
      color: var(--txt1);
      line-height: 100%;
    }
    & > em {
      text-transform: uppercase;
      font: var(--fo-bod3);
      font-weight: bold;
      color: var(--txt4);
      font-style: normal;
      line-height: 100%;
      width: fit-content;
    }
  }
}
/* PAG - HABILIDADES */
/* PAG - INVENTARIO */
.pfchabs,
.pfcinve {
  text-align: justify;
  font: normal var(--fs-body) var(--font2);
  line-height: 132%;

  overflow: auto !important;
  h4.post-content {
    counter-increment: tab;
    font-weight: 700 !important;
    text-decoration: none !important;
    margin: 8px 0px !important;
    line-height: 90% !important;
  }
  h4.post-content:before {
    color: var(--group);
    font-weight: 900 !important;
    content: "0" counter(tab) ". ";
  }
  strike,
  u {
    text-decoration-color: var(--group);
    text-decoration-thickness: 2px;
  }
  strong {
    color: var(--group);
    font-weight: 800;
    text-transform: uppercase;
  }
  u {
    text-transform: uppercase;
    font: 700 var(--fs-small) var(--font3);
    color: var(--txt2);
    text-underline-offset: 2px;
  }
  i {
    color: var(--txt4);
    font-style: italic;
  }
  ul {
    display: inline-block;
    padding-left: 20px;
    list-style-type: none;
    
    > br {display: none;}
  }
  ul li {
    position: relative;
    margin-bottom: 6px;
  }
  ul li:before {
    content: "";
    height: 2px;
    width: 12px;
    background: var(--tgroup);
    position: absolute !important;
    left: -20px;
    top: 7px;
  }
  ol {
    display: inline-block;
    padding-left: 20px;
    list-style-type: none;
    counter-reset: lista;
  }
  ol li {
    position: relative;
    margin-bottom: 6px;
    counter-increment: lista;
  }
  ol li:before {
    content: counters(lista, ".", decimal) ". ";
    font: 900 var(--fs-text) var(--font2);
    color: var(--tgroup);
    position: relative !important;
    text-align: right;
  }
  :is(ul, ol) li:last-of-type {
    margin-bottom: 0px;
  }
  li ul, li ol {
    margin-top: 6px;
  }
}
.tab:nth-of-type(3),
.tab:nth-of-type(4) {
  counter-reset: tab;
}

/* PAG - LOGROS */
.awards_block_simple {
  display: flex;
  flex-wrap: wrap;
  gap: var(--paddclamp8);
}
.award {
  background: var(--back1);
  border: var(--border1);
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  color: var(--group);
  font-size: var(--fo-h4-clamp);
}

/* PAG - USUARIO */
.pfcuser {
  justify-content: space-between;
  gap: var(--paddclamp4);
  overflow: auto !important;
  grid-template-columns: calc(100% - var(--icon1) - var(--paddclamp4)) var(--icon1);
  grid-template-rows: max-content;
  grid-template-areas:
    'username userpjs'
    'userinfotext userpjs'
    'usertriggers userpjs';
}
.pfcudata {
  text-align: left;
  gap: var(--gap0);
  grid-area: username;
  > strong {
    text-transform: uppercase;
    font: var(--fo-deco3);
    font-weight: 800;
    line-height: 100%;
    color: var(--back1);
    background: var(--group);
    width: fit-content;
    border-radius: var(--bradius);
    padding: var(--gap1) var(--gap2);
    margin-bottom: var(--gap1);
  }
  .pfcuname {
    text-shadow: 1.5px 1px 0.5px var(--group);
    font: var(--fo-h2);
    font-size: var(--fo-h2-clamp);
    line-height: 85%;
    text-transform: uppercase;
    color: var(--txt1);
  }
  .pfcupron {
    text-transform: lowercase;
    font: var(--fo-deco2);
    font-style: italic;
    line-height: 100%;
    color: var(--txt4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &:before {
      content: "";
      width: var(--paddclamp1);
      height: var(--bthickness);
      float: left;
      background: var(--tgroup);
      margin-right: var(--gap2);
      position: relative;
      align-self: center;
    }
  }
}
.pfcuinfo {
  border-radius: var(--bradius);
  border-top: var(--tborder);
  border-bottom: var(--tborder);
  width: 100%;
  justify-content: space-between;
  padding: var(--paddclamp5);
  gap: var(--paddclamp5) var(--paddclamp6);
  flex-wrap: wrap;
  overflow-x: auto;
  align-items: center;
  grid-area: userinfotext;
   > div {
    flex: 1 0 25%;
    gap: var(--gap1);
    justify-content: center;
      & > em {
      text-transform: uppercase;
      font: var(--fo-deco2);
      font-weight: 800;
      color: var(--txt4);
      line-height: 100%;
    }
    > strong {
      text-transform: uppercase;
      font: var(--fo-bod2);
      font-weight: 900;
      line-height: 85%;
      color: var(--txt2);
    }
  }
}
.pfcupjs {
  grid-area: userpjs;
  & > div {
    gap: var(--paddclamp8);
    height: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
      & > a {
      width: var(--icon1);
      height: var(--icon1);
      overflow: hidden;
      border-radius: var(--bradius);
      &:hover {
        & > div {
          &:after {
            opacity: 1
          }
        }
      }
      & > div {
        position: relative;
        width: 100%;
        height: 100%;
        &:before, &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          inset: 0;
          transition: var(--trs1);
        }
        &:before {
          z-index: 1;
          background: var(--tback1);
          opacity: .7;
          mix-blend-mode: multiply;
        }
        &:after {
          z-index: 1;
          background: var(--group);
          mix-blend-mode: overlay;
          opacity: 0
        }
      }
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 30%;
        position: relative;
        z-index: 0;
        filter: var(--filter1);
      }
    }
  }
}
.pfcutriggers {
  grid-area: usertriggers;
  gap: var(--gap2);
  > u {
    text-transform: uppercase;
    color: var(--txt1);
    font: var(--fo-deco1);
    font-weight: 900;
    line-height: 100%;
    text-decoration: var(--bthickness) solid underline var(--group);
    text-underline-offset: var(--bthickness);
  }
  > div {
    text-align: justify;
    text-transform: uppercase;
    color: var(--txt4);
    font: var(--fo-bod3);
    font-weight: bold;
    line-height: 90%;
    max-height: 3.2rem;
    height: fit-content;
    overflow: hidden;
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    & > div {
      height: 100%;
      overflow: auto;
      padding-right: var(--gap4);
      margin-right: calc(var(--gap4) * -1);
      min-height: 100%;
    }
    i {
      color: var(--txt2);
    }
    b, strong {
      font-weight: 900;
      .pfcutriggers & {color: var(--group);}
    }
    u, strike {
      text-decoration: var(--bthickness) underline var(--tgroup);
      color: var(--txt1);
      font-weight: 900;
      line-height: 130%;
    }
    u {
      text-underline-offset: var(--bthickness);
    }
    ul, ol {
      margin-block: 0;
      padding-left: var(--paddclamp8);
      font-size: var(--fs-smallest);
      line-height: 120%;
      li {
        margin-bottom: var(--gap0);
        padding-left: var(--gap3);
        &:last-of-type {
          margin-bottom:0;
        }
        &::marker {
          content: '\f054';
          font: var(--fo-icon4);
          color: var(--tgroup);
          font-weight: 900;
        }
        ul, ol {
          margin-top:var(--gap2);
        }
      }
    }
  }
}
/* BOTONES ADMIN */
.profaut {
  margin-top: var(--paddclamp4);
  justify-content: center;
  align-items: center;
  font-size: 0;
  gap: var(--gap3);
  flex-wrap: wrap;
  text-align: center;
  &:empty {
    display: none;
  }
}
.profaut:not(:has(a)) {
  display: none;
}
.profaut > a {
  text-transform: uppercase;
  background: var(--back1);
  border: var(--border1) !important;
  color: var(--txt1);
  padding: var(--gap2) var(--gap4) !important;
  font: var(--fo-deco2);
  font-weight: 800;
  transition: var(--trs1);
  border-radius: var(--bradius);
  border-bottom: var(--bthickness) solid var(--group) !important;
}
