.usergroups {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  gap: 20px;
  margin: 20px 0px;
}
a.usgp {
  display: flex;
  flex-direction: column;
  flex: 1 0 15%;
  text-align: center;
  background: var(--tback1);
  border: var(--border1);
  color: var(--txt1);
  text-transform: uppercase;
  font: 900 var(--fs-big) var(--font1);
  padding: 20px;
  border-radius: var(--bradius);
  line-height: 100%;
  gap: 6px;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  min-width: 120px;
  min-height: 100px;
  
> em {
    justify-content: center;
    align-items: center;
    transition: var(--trs1);
    display: flex;
    width: 100%;
    
    &:before {
      content: "\f004";
      color: var(--group);
      font: 700 var(--fs-h4) var(--font4);
      transition: var(--trs1);    
    } 
  }
  
  > b {
    font-weight: 900;
    text-shadow: var(--shadow3);
    transition: var(--trs1);
  }
  
  &:hover {
    background: var(--tgroup);
    border-color: transparent;
    
    > b {
      color: var(--txt2);
      text-shadow: var(--shadow1);
    }
    > em:before {
      color: var(--back1);
      transform: scale(1.2);
    }
  }
}

[class*="nemesis"] > em:before {content: "\f6cb";}    
[class*="tyche"] > em:before {content: "\e362";}
[class*="afrodita"] > em:before {content: "\f4ba";}
[class*="dioniso"] > em:before {content: "\f4e3";}
[class*="hades"] > em:before {content: "\f54c";}
[class*="hecate"] > em:before {content: "\f6bf";}
[class*="poseidon"] > em:before {content: "\f773";}
[class*="hypnos"] > em:before {content: "\f34e";}
[class*="khione"] > em:before {content: "\f2dc";}
[class*="hebe"] > em:before {content: "\e588";}
[class*="atenea"] > em:before {content: "\f5dc";}
[class*="demeter"] > em:before {content: "\f72d";}
[class*="iris"] > em:before {content: "\f75b";}
[class*="hermes"] > em:before {content: "\f56b";}
[class*="apolo"] > em:before {content: "\f001";}
[class*="zeus"] > em:before {content: "\f0e7";}
[class*="hefesto"] > em:before {content: "\f7e4";}
[class*="ares"] > em:before {content: "\f71d";}
