/* ESENCIALES */
@supports at-rule(@function) {
  @function --transparent(--color: var(--accent)) {
    result: rgba(from var(--color) r g b / .6);
  }  
  @function --aborder(--thickness: 1px, --color: var(--accent)) {
    result: var(--thickness) solid var(--color);
  }
}

/* scrollbar */
@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--accent) var(--back1);
    scrollbar-width: auto;
  }
  mainbody * {
    scrollbar-color: var(--tborder-c) transparent;
    scrollbar-width: thin;
  }
}
::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-thumb {
  background: var(--accent);
  border: 4px solid var(--back1);
  border-radius: var(--bradius);
}
::-webkit-scrollbar-track {
  background: var(--border1-c);
  border: 5px solid var(--back1);
}
::-webkit-scrollbar-corner {
  background: var(--back1);
}
*:not(body)::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: none;
}
*:not(body)::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}
*:not(body)::-webkit-scrollbar-thumb {
  background: var(--tborder-c);
  border: none;
}
*:not(body)::-webkit-scrollbar-corner {
  background: transparent;
}

/* selection */
::selection, ::target-text {
  background: var(--taccent);
  color: var(--txt1);
  text-shadow: var(--shadow1);
}

/* flex y grid */
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.f-col,
.fcolumn {
  flex-direction: column;
}

/* COLORES DE GRUPOS */
:root {
  --staff: #5c9cb8;
  --nemesis: #cb7a7a;
  --tyche: #c9819f;
  --afrodita: #cc6bc5;
  --dioniso: #946dbe;
  --hades: #675975;
  --hecate: #7b74c5;
  --poseidon: #778cdb;
  --hypnos: #5f848a;
  --khione: #5bb3af;
  --hebe: #5dab8e;
  --atenea: #61a879;
  --demeter: #5eb165;
  --iris: #8abe60;
  --hermes: #bac760;
  --apolo: #dfb560;
  --zeus: #d6874f;
  --hefesto: #d07655;
  --ares: #b34646;
  --inactivos: #7a7a7a;
  --usuarios: #b4bec1;
}

[class*="group-staff"], [class*="group-guest"], [class*="group-nogroup"], :is([class*="group-staff"],[class*="group-guest"],[class*="group-nogroup"]) + .post-dados { --group: var(--staff);}
[class*="group-nogroup"], [class*="group-nogroup"] + .postdados { --group: var(--usuarios);}
[class*="group-nemesis"], [class*="group-nemesis"] + .postdados { --group: var(--nemesis);}
[class*="group-tyche"], [class*="group-tyche"] + .postdados { --group: var(--tyche);}
[class*="group-afrodita"], [class*="group-afrodita"] + .postdados { --group: var(--afrodita);}
[class*="group-dioniso"], [class*="group-dioniso"] + .postdados { --group: var(--dioniso);}
[class*="group-hades"], [class*="group-hades"] + .postdados { --group: var(--hades);}
[class*="group-hecate"], [class*="group-hecate"] + .postdados { --group: var(--hecate);}
[class*="group-poseidon"], [class*="group-poseidon"] + .postdados { --group: var(--poseidon);}
[class*="group-hypnos"], [class*="group-hypnos"] + .postdados { --group: var(--hypnos);}
[class*="group-khione"], [class*="group-khione"] + .postdados { --group: var(--khione);}
[class*="group-hebe"], [class*="group-hebe"] + .postdados { --group: var(--hebe);}
[class*="group-atenea"], [class*="group-atenea"] + .postdados { --group: var(--atenea);}
[class*="group-demeter"], [class*="group-demeter"] + .postdados { --group: var(--demeter);}
[class*="group-iris"], [class*="group-iris"] + .postdados { --group: var(--iris);}
[class*="group-hermes"], [class*="group-hermes"] + .postdados { --group: var(--hermes);}
[class*="group-apolo"], [class*="group-apolo"] + .postdados { --group: var(--apolo);}
[class*="group-zeus"], [class*="group-zeus"] + .postdados { --group: var(--zeus);}
[class*="group-hefesto"], [class*="group-hefesto"] + .postdados { --group: var(--hefesto);}
[class*="group-ares"], [class*="group-ares"] + .postdados { --group: var(--ares);}
[class*="group-"], [class*="group-"] + .postdados {--tgroup: rgb(from var(--group) r g b / .6); --accent: var(--group); --taccent: var(--tgroup);}

/* cosas de panel */
.panel.registeru {
  text-align: justify;
  & span[style*="color:red"] {
    border-left: var(--tborder);
    border-right: var(--tborder);
    border-radius: var(--bradius);
    display: inline-block !important;
    padding: var(--gap4) var(--paddclamp8);
    margin: var(--gap3) var(--gap5);
    margin-top: 0px;
  }
  & .registerbuttons {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: var(--gap4);
    & .reg-butto {
      align-items: center;
      gap: var(--gap2);
    }
  }
}
.light-mode {
  & .show_hide_pwd {
    filter: invert(0) contrast(0.7) !important;
  }
  & input[type="checkbox"],
  input[type="radio"] {
    filter: invert(0) hue-rotate(0deg) brightness(1.3) contrast(1);
  }
}
.dark-mode {
  & .show_hide_pwd {
    filter: invert(1) contrast(0.5) !important;
  }
  & input[type="checkbox"],
  & input[type="radio"] {
    filter: invert(0.7) hue-rotate(180deg) brightness(0.8) saturate(1.6)
      contrast(2);
  }
}
.registeru p {
  margin-bottom: var(--gap4) !important;
  line-height: 130%;
}
.registeru p > strong {
  text-transform: uppercase;
  font-weight: 900;
  color: var(--accent);
  line-height: 150%;
}
.registeru p:first-of-type {
  margin-top: var(--padd3) !important;
}
.registeru p a {
  text-transform: uppercase;
  font: var(--fo-deco2);
  font-weight: bold;
  color: var(--txt1);
}
.registeru p u {
  text-decoration-color: var(--taccent);
  text-decoration-thickness: var(--bthickness);
  text-underline-offset: var(--bthickness);
}
.password-container {
  width: 100%;
  display: flex;
  border: var(--border1)!important;
  border-radius: var(--bradius);
  overflow: hidden;
  & input {
    border-top:none!important;
    border-bottom:none!important;
    border-left:none!important;
    border-radius: 0!important;
    flex: 1;
  }
  & .show_hide_pwd {
    font: var(--fo-bod1);
    line-height: 100%;
    background-color: transparent !important;
    color: var(--txt4);
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    scale: 1;
    padding: var(--gap2) !important;
    flex-shrink: 0;
    height: 100%;
    width: calc(var(--gap5) * 2.2);
    cursor: var(--crs2)!important;
    border-left: none !important;
    filter: invert(1) contrast(0.5) !important;
  }
}

/* esconder */
.slm_sticky,
.grecaptcha-badge,
.sprite-arrow_prosilver_up,
ins,
div[class*="player"][class*="visible"],
#cuerpo > div[style*="visible"],
#cuerpo > div[style*="clear:both"],
#criteo_sticky,
#vid-container0,
.post span.corners-top,
.post span.corners-bottom,
.panel span.corners-top,
.panel span.corners-bottom,
.navbar span.corners-top,
.navbar span.corners-bottom,
span.corners-bottom,
span.corners-top,
span.corners-bottom span,
span.corners-top span,
div[style="height:3px"],
#Forumactif_Video {
  display: none !important;
  height: 0px !important;
  width: 0px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -300px !important;
  left: -300px !important;
}
style:empty,
main > div:empty,
#nomiresSafe > div:empty,
#emptyidright,
div[style="height:3px"],
#Forumactif_Video,
.grecaptcha-badge,
.sprite-arrow_prosilver_up,
#left,
#nomiresSafe > div[style*="visible"],
.clear,
#nomiresSafe > div.clear,
#nomiresSafe > br.clear,
#nomiresSafe > span.clear,
#nomiresSafe > div[style*="clear:both"],
#nomiresSafe > br[style*="clear:both"],
#nomiresSafe > span[style*="clear:both"],
ins,
div[class*="player"][class*="visible"],
main > div[style*="visible"],
main > div.clear,
main > br.clear,
main > span.clear,
main > div[style*="clear:both"],
main > br[style*="clear:both"],
main > span[style*="clear:both"],
#criteo_sticky,
#vid-container0,
.post span.corners-top,
.post span.corners-bottom,
.panel span.corners-top,
.panel span.corners-bottom,
.navbar span.corners-top,
.navbar span.corners-bottom,
span.corners-bottom,
span.corners-top,
span.corners-bottom span,
span.corners-top span {
  display: none !important;
  height: 0px !important;
  width: 0px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -300px !important;
  left: -300px !important;
}

/* PREVIEWS Y VISTAS */
.panel.poptions label {
  display: inline-block;
  margin: var(--gap2);
}
.messageoptions .panel fieldset {
  font: var(--fo-bod1);
  line-height: 120%;
}
div#add_username {
  background: none !important;
  display: initial;
  margin: var(--gap0) var(--gap2) var(--gap0) var(--gap0) !important;
}
.pbusernames input.inputbox:nth-of-type(2),
.pbusernames input.inputbox:nth-of-type(3),
.pbusernames input.inputbox:nth-of-type(4),
.pbusernames input.inputbox:nth-of-type(5),
.pbusernames input.inputbox:nth-of-type(6) {
  margin-left: var(--gap2) !important;
}
.panel.pdice label {
  display: initial;
  margin-left: var(--gap2);
}
span#dice_to_del {
  margin-left: var(--gap2);
}
.panel.pdice em {
  text-transform: uppercase;
  font: var(--fo-deco1);
  font-weight: 900;
  font-style: normal;
  color: var(--txt3);
}
.postpreview {
  margin: var(--paddclamp7) 0px;
}
.postpreview .postbody {
  background: var(--tback1);
  border: var(--border1);
}
.pastmessages {
  gap: var(--paddclamp7);
}
.panel.row1 br {
  display: none !important;
}
.panel.row2 > .inner > br {
  display: none !important;
}
.panel.row2 .postbody {
  width: 100% !important;
}
.panel.row2 .postbody .content {
  min-height: auto !important;
  padding: 0px !important;
}
.mhmain {
  justify-content: flex-start;
  align-items: center;
  gap: var(--paddclamp7);
}
.mhava {
  justify-content: center;
  align-items: center;
  outline: var(--baborder);
  margin: 2px;
  outline-color: var(--tgroup, var(--taccent));
  border-radius: var(--bradius);
  border: 4px solid transparent;
  flex-shrink: 0;
}
.mhava img {
  width: var(--icon2);
  height: var(--icon2);
  overflow: hidden;
  border-radius: var(--bradius);
  object-fit: cover;
  object-position: center;
}
.messlinks {
  min-width: 60px;
  text-align: right;
  justify-content: center;
  align-items: flex-end;
  gap: var(--gap4);
}
.messlinks > a {
  text-transform: uppercase;
  font: var(--fo-deco2);
  font-weight: bold;
  color: var(--txt3);
  line-height: 140%;
  text-decoration: underline;
  text-decoration-color: var(--tgroup, var(--taccent));
  text-decoration-thickness: var(--bthickness);
  text-underline-offset: var(--bthickness);
}
.messagepreviews {
  margin: var(--paddclamp7) 0px;
  gap: var(--paddclamp7);
}
.messagepreviews .postbody {
  width: 100% !important;
}
.messagepreviews .postbody .content {
  border: var(--border1);
  background: var(--tback1);
}
.messagepreviews p.author {
  width: 100% !important;
  padding: 0px;
  line-height: 100% !important;
  margin: 0px !important;
}

/* POP-UPS MSJS */
.privmess {
  padding: var(--paddclamp2);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.privmess p>a {
  text-transform: uppercase;
  font: var(--fo-bod3);
  font-weight: 900;
  color: var(--txt2);
  text-decoration: var(--bthickness) solid underline var(--taccent);
  text-underline-offset: var(--bthickness);
}
.privmess p.right-box a {
  text-transform: uppercase;
  font: var(--fo-deco2);
  font-weight: 900;
  color: var(--accent);
  text-decoration: none;
}

/*SWITCHEROO*/
.switcheroo {
  display: none;
  position: fixed;
  bottom: 0px;
  left: var(--sidenav-width);
  width: calc(100% - var(--sidenav-width));
  z-index: 100;
  background-color: var(--back2);
  border-top: var(--border1);
  font-size: var(--fs-body);
  transition: var(--trs1);
}
.switcheroo.active {
  display: block;
}
.switcheroo__squircles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: var(--paddclamp8);
  gap: var(--gap4);
}
.switcheroo__squircle {
  position: relative;
  box-sizing: content-box;
  display: grid;
  place-items: center;
  border: var(--bborder2);
  width: var(--icon1);
  height: var(--icon1);
  border-radius: 100%;
  cursor: var(--crs2);
  transition: var(--trs1);
}
.switcheroo__squircle:last-of-type {
  width: var(--padd3);
  height: var(--padd3);
  background: var(--back1);
  border: var(--border2);
}
.switcheroo__squircle:hover {
  border-radius: var(--bradius);
  background: var(--accent);
  border-color: var(--accent);
}
.switcheroo__avatar {
  position: relative;
}
.switcheroo__avatar img {
  width: var(--icon1);
  height: var(--icon1);
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  transition: var(--trs1);
  position: relative;
  filter: var(--filter2);
}
.switcheroo__avatar img:hover {
  filter: none;
}
.switcheroo__squircle.active,
.switcheroo__squircle.active img {
  border-radius: var(--bradius);
  border-color: var(--group);
  filter: none;
  cursor: default;
  background: var(--group);
}
.switcheroo__delete {
  display: grid;
  place-items: center;
  position: absolute;
  width: var(--padd1);
  height: var(--padd1);
  top: -.5rem;
  right: -.5rem;
  border-radius: 100%;
  background-color: var(--back1);
  transform: scale(0);
  opacity: 1;
  transition: var(--trs1);
  cursor: var(--crs2);
  color: var(--txt1);
}
.switcheroo__squircle:hover .switcheroo__delete {
  opacity: 1;
  transform: scale(1);
}
.switcheroo__popper {
  padding: var(--gap3);
  text-align: center;
  font: var(--fo-bod3);
  font-weight: bold;
  color: var(--txt1);
  background: var(--back1);
  line-height: 100%;
  text-transform: uppercase;
  border: var(--border1);
  position: absolute;
  width: -webkit-max-content;
  width: max-content;
  z-index: 101;
  opacity: 0;
  transition: var(--trs1);
  pointer-events: none;
  left: 130%;
  top: 50%;
  transform-origin: left;
  transform: translateY(-50%) scale(1);
}
.switcheroo .switcheroo__squircle:hover .switcheroo__popper {
  opacity: 1;
  left: 130%;
  transform: translateY(-50%) scale(1);
}
.switcheroo .switcheroo__divider {
  width: 100%;
  height: var(--bthickness);
}
.switcheroo__squircle--button {
  transition: var(--trs1);
  color: var(--txt4);
  font: var(--fo-bod1);
  font-weight: bold;
}
.switcheroo__squircle--button:hover {
  color: var(--txt1);
  font-weight: 800;
}
.monomer-overlay:empty {
  display: none !important;
}
.monomer-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: var(--tback2);
}
.monomer-modal {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  opacity: 0;
  width: 80%;
  padding: var(--paddclamp3);
  transition: var(--trs1);
  transform: translate(-50%, -50%);
  background: var(--back1);
  border: var(--border1);
  color: var(--txt3);
  box-shadow: 1px 1px var(--gap3) var(--back1);
}
.switcheroo__form-row {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.switcheroo__form-row:first-of-type {
  margin-bottom: var(--paddclamp8);
}
.switcheroo__form-label {
  color: var(--txt1);
  font: var(--fo-bod1);
  font-weight: 900;
  text-transform: uppercase;
}
.switcheroo__form-input {
  border-radius: var(--bradius);
  padding: var(--gap1);
  font: var(--fo-bod1);
  line-height: 100%;
  margin-top: var(--gap1);
  width: 100%;
  background-color: var(--back2);
  border: var(--border2) !important;
  border-bottom: var(--bthickness) solid var(--accent) !important;
  color: var(--txt4);
  cursor: text;
}
.switcheroo__form-button {
  padding: var(--gap1) var(--gap3);
  border-radius: var(--bradius);
  border: none;
  outline: none;
  box-shadow: none;
  text-transform: uppercase;
  font: var(--fo-deco2);
  font-weight: bold;
  align-self: flex-end;
  background-color: var(--accent);
  cursor: var(--crs2);
  margin-top: var(--paddclamp8);
  transition: var(--trs1);
}
.switcheroo__form-button:hover {
  background: var(--taccent);
  color: var(--txt1);
}
.monomer-modal.monomer-open,
.monomer-overlay.monomer-open {
  opacity: 1;
  display: block !important;
}
.monomer-close {
  font-size: var(--fs-bigger);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--padd3);
  height: var(--padd3);
  position: absolute;
  top: calc(var(--gap4) * -1);
  right: calc(var(--gap4) * -1);
  cursor: var(--crs2);
  color: var(--txt1);
  border: 0;
  outline: none;
  background: var(--border1-c);
  border-radius: 100%;
  padding: 0;
}
.monomer-close:hover {
  background: var(--accent);
}

/* BÚSQUEDA DE POSTS */
.postsearchz {
  gap: var(--paddclamp6);
  & .postzone {
    gap: var(--paddclamp7);
    width: 100%;
  }
  & .post {
    margin: 0px !important;
    padding: 0px !important;
    position: relative;
  }
  & .post.invipost {
    --group: #b4bec1;
    --tgroup: #b4bec199;
  }
  & .postheader {
    flex: 1 0 100%;
    width: 100%;
    border: var(--border1);
    background: var(--back1);
    gap: clamp(var(--gap3), 0.6vw, var(--gap4));
    padding: var(--paddclamp5);
    justify-content: center;
    align-items: flex-start;
  }
  & .pbsearchpost {
    text-transform: uppercase;
    font: var(--fo-h2-clamp);
    line-height: 85%;
    text-shadow: 1px 1px 0.5px var(--group);
  }
  & .pbsearchpost > a {
    color: var(--txt1) !important;
    line-height: inherit;
  }
  & .pbsearchinfo {
    text-transform: uppercase;
    font: var(--fo-deco2);
    font-weight: bold;
    color: var(--txt4);
    line-height: 100%;
    display: block;
  }
  & .post .postbody {
    min-height: 28.571rem;
    flex: 1;
    border-left: var(--border1);
    border-right: var(--border1);
    border-bottom: var(--border1);
    background: var(--tback1);
    width: 100%;
  }
  & .topicnav {
    margin: 0;
  }
  & .page-title {
    margin-block: 0 clamp(var(--gap3), 0.6vw, var(--gap4));
  }
}

/* EDITAR PERFIL */
#cp-main {
  float: none;
  margin: 0px !important;
  width: 100%;
  background: var(--tback1) !important;
  border: var(--border1) !important;
  padding: var(--paddclamp3) !important;
  margin-bottom: var(--gap4) !important;
}
#tabs ul,
#tabs li,
#tabs li a {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#tabs {
  margin: 0px 0px var(--paddclamp3) 0px;
  padding: 0;
}
#tabs ul {
  gap: var(--gap2) var(--gap4);
}
#tabs li {
  background: var(--tback1);
  border: var(--border1);
  border-radius: var(--bradius);
  padding: var(--gap0) 0;
  text-transform: uppercase;
  color: var(--accent);
  font: var(--fo-deco2);
  font-weight: 800;
}
#tabs li a,
#tabs a span {
  transition: var(--trs1);
  padding: 0;
}
#tabs a span {
  color: var(--txt1);
  padding: var(--gap0) var(--gap2);
  padding-bottom: var(--bthickness) !important;
}
#tabs li:hover a {
  color: var(--accent) !important;
}
#tabs li.activetab {
  background: var(--accent);
  border-color: var(--accent);
}
#tabs li.activetab span {
  color: var(--back1);
  cursor: default;
  padding-top: var(--gap0) !important;
  padding-bottom: var(--gap0) !important;
}
#tabs li.activetab span:hover,
#tabs li.activetab:hover span {
  color: var(--txt1);
}
#cp-main h1 {
  margin-bottom: var(--paddclamp5) !important;
}
#cp-main h1:not(:first-of-type):before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--border2-c);
  margin: var(--paddclamp3) 0px;
}
#cp-main fieldset dl {
  flex-direction: column;
  margin: 0;
}
#cp-main fieldset {
  display: flex;
  flex-direction: column;
  gap: var(--gap4);
}
#cp-main fieldset dt {
  color: var(--txt1);
  text-transform: uppercase;
  font: var(--fo-deco1);
  font-weight: 800;
  line-height: 130%;
  width: 100%;
  text-decoration: var(--bthickness) underline var(--taccent);
  text-underline-offset: var(--bthickness);
  flex: unset;
}
#cp-main fieldset dt label,
#cp-main fieldset dt span {
  color: var(--txt1) !important;
  text-transform: uppercase;
  font: var(--fo-deco1);
  font-weight: 800;
  line-height: 130% !important;
  box-sizing: border-box;
  word-break: break-word;
  hyphens: auto;
  text-align: center;
}
#cp-main fieldset dd {
  width: 100%;
  padding: var(--gap4);
  text-transform: uppercase;
  font: var(--fo-bod1);
  font-weight: bold;
  color: var(--txt1);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  text-align: center;
  gap: var(--gap2);
  flex-wrap: wrap;
  flex-direction: column;
  background: var(--tback2);
  border: var(--border1);
  border-radius: var(--bradius);
}
#cp-main fieldset dd .inputbox,
#cp-main fieldset dd select:only-of-type {
  width: 100% !important;
  box-sizing: border-box;
  border: var(--border1) !important;
  color: var(--txt1);
}
#cp-main fieldset dd .password-container .inputbox {
  border-top: none !important;
  border-bottom: none !important;
  border-left: none !important;
  border-radius: 0 !important;
  flex: 1;
}
#cp-main fieldset textarea.inputbox {
  border: var(--gap4) solid transparent !important;
  padding-left: 0px;
  padding-right: var(--gap2);
  text-align: justify;
  outline: var(--border1);
  outline-offset: -1px;
  min-height: 100px;
  max-height: 25rem;
  margin: 0px !important;
}
#cp-main dd textarea {
  margin-right: 0px !important;
}
#cp-main fieldset input.inputbox {
  padding: var(--gap1);
}
#cp-main span.italic {
  width: 100%;
  display: block;
  margin-top: var(--gap4);
  border: var(--border2);
  border-radius: var(--bradius);
  border-color: var(--accent);
  padding: var(--gap4);
  position: relative;
  font: var(--fo-bod2);
  font-weight: bold;
  background: var(--taccent);
  line-height: 110% !important;
}
#cp-main span.italic:empty {
  display: none;
}
#cp-main span.italic:before {
  content: "AVISO: ";
  font-weight: 900;
  color: var(--back1);
}
.panel dd > br {
  display: none;
}
.ucp-exportacion-de-datos dd a.button1 {
  padding: var(--gap0) var(--gap4) !important;
}
dl.ucp-preestablecer-el-formulario {
  display: none !important;
}
#cp-main fieldset.submit-buttons {
  display: block;
  margin-top: var(--paddclamp6);
  margin-bottom: 0px !important;
}
.ucp-editar-la-firma #message-box > br {
  display: none;
}
.ucp-editar-la-firma #message-box {
  width: calc(100%);
}
dl.ucp-direccion-de-correo-electronico dd {
  word-break: break-all;
}
dl.ucp-icono input {
  margin-top: var(--gap0);
  margin-bottom: var(--gap1);
}
dl.ucp-icono dd > input:last-of-type {
  margin-bottom: 0;
}
.ucp-ocultar-tu-presencia-en-linea {
  display: none !important;
}
.ucp-avatar dt,
.ucp-genero,
.ucp-empleo,
.ucp-fecha-de-nacimiento,
.ucp-comentarios,
.ucp-facebook,
.ucp-twitter,
.ucp-pinterest,
.ucp-skype {
  display: none !important;
}
.ucp-panel-de-control-de-los-avatares fieldset {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row !important;
}
dl.ucp-avatar img {
  max-width: 250px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.ucp-panel-de-control-de-los-avatares dl.ucp-avatar {
  width: 280px;
}
.cp_notifs {
  margin-top: var(--paddclamp6);
}
#cp-main table {
  border: none;
  padding: 0px !important;
  margin: 0px !important;
  border-spacing: 0px !important;
}
#cp-main table thead th {
  color: var(--txt1) !important;
  font: var(--fo-bod2);
  font-weight: 900;
  border-bottom: var(--border1) !important;
  position: relative;
  padding: var(--gap2) !important;
  text-align: center !important;
  line-height: 100% !important;
}
#cp-main table tbody tr td {
  padding: var(--gap2);
  font: var(--fo-bod1);
  color: var(--txt2);
  text-align: center;
  line-height: 100%;
}
#cp-main table tbody tr td:first-of-type {
  text-align: left !important;
}
#cp-main p.right-box {
  float: none !important;
  margin: var(--gap4) 0px 0px 0px !important;
  font: var(--fo-deco2) !important;
  text-transform: uppercase;
  text-align: right;
  line-height: 100% !important;
  color: var(--txt3);
}
#cp-main.ucp-vigi table tbody tr td:first-of-type,
#cp-main.ucp-vigi table.table1 thead th:first-of-type {
  display: none !important;
}
#cp-main.ucp-drafts {
  background: transparent !important;
  padding: 0px !important;
  border: none !important;
}
#cont_pwd {
  height: auto;
  margin: 0px !important;
}
#cont_pwd > div {
  background-image: none !important;
  height: auto !important;
  background-color: var(--accent) !important;
  border-radius: var(--bradius);
  padding: var(--gap0) var(--gap2);
}
#cont_pwd > div::after {
    font: var(--fo-icon4);
    font-weight: bold;
    line-height: 100%;
    margin-left: var(--gap1);
}
div#pwd_bad:after {
  content: "\f146";
}
div#pwd_middle:after {
  content: "\e26e";
}
div#pwd_good:after {
  content: "\f0fe";
}
div#cont_pwd:not(:has(.pwd_img[style*="display: none;"], .pwd_img[style*="display:none;"])) {
  display: none !important;
}

/*TAGS TEMAS*/
#tagForm {
  display: flex;
  flex-direction: column;
  gap: var(--paddclamp7);
  margin-bottom: var(--paddclamp7);
}
#tagForm > div {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap3);
}
#tagForm br {
  display: none !important;
}
#tagForm label {
  font: var(--fo-deco2);
  font-weight: bold;
  color: var(--txt3) !important;
}
#tagForm #addTagsBtn {
  text-transform: uppercase;
  background: var(--back2);
  border: var(--border1);
  border-radius: var(--bradius);
  padding: var(--gap3);
  width: fit-content;
  color: var(--txt1);
  font: var(--fo-deco2);
  font-weight: bold;
  line-height: 100%;
  cursor: var(--crs2);
}
.module-title .threadtag {
  display: none !important;
}
.topictitle .threadtag,
.post-title .threadtag,
.title-thread .threadtag {
  font: var(--fo-deco2);
  font-weight: 800;
  color: var(--back1);
  background: var(--accent);
  line-height: 110%;
  padding: var(--gap0) var(--gap1);
  border-radius: var(--bradius);
  display: block;
  width: fit-content;
  margin-bottom: var(--gap0);
}
.title-thread .threadtag {
  margin: 0 auto var(--gap1);
}
.threadtag[data-filter="ENTRENAMIENTO"],
.threadtag[data-filter="OFICIO"],
.threadtag[data-filter="VIGILANCIA"],
.threadtag[data-filter="FORJA"],
.threadtag[data-filter="ALQUIMIA"],
.threadtag[data-filter="ARTESANÍA"],
.threadtag[data-filter="PRIMEROS AUXILIOS"],
.threadtag[data-filter="ENCARGO"],
.threadtag[data-filter="MINI-ENCARGO"] {
  font-size: 0;
}
.topictitle .threadtag[data-filter="ENTRENAMIENTO"]:before,
.topictitle .threadtag[data-filter="OFICIO"]:before,
.topictitle .threadtag[data-filter="VIGILANCIA"]:before,
.topictitle .threadtag[data-filter="FORJA"]:before,
.topictitle .threadtag[data-filter="ALQUIMIA"]:before,
.topictitle .threadtag[data-filter="ARTESANÍA"]:before,
.topictitle .threadtag[data-filter="PRIMEROS AUXILIOS"]:before,
.topictitle .threadtag[data-filter="ENCARGO"]:before,
.topictitle .threadtag[data-filter="MINI-ENCARGO"]:before {
  font-size: var(--fs-smaller);
  line-height: 110%;
}
.post-title .threadtag[data-filter="ENTRENAMIENTO"]:before,
.post-title .threadtag[data-filter="OFICIO"]:before,
.post-title .threadtag[data-filter="VIGILANCIA"]:before,
.post-title .threadtag[data-filter="FORJA"]:before,
.post-title .threadtag[data-filter="ALQUIMIA"]:before,
.post-title .threadtag[data-filter="ARTESANÍA"]:before,
.post-title .threadtag[data-filter="PRIMEROS AUXILIOS"]:before,
.post-title .threadtag[data-filter="ENCARGO"]:before,
.post-title .threadtag[data-filter="MINI-ENCARGO"]:before {
  font-size: var(--fs-smaller);
  line-height: 110%;
}
.title-thread .threadtag[data-filter="ENTRENAMIENTO"]:before,
.title-thread .threadtag[data-filter="OFICIO"]:before,
.title-thread .threadtag[data-filter="VIGILANCIA"]:before,
.title-thread .threadtag[data-filter="FORJA"]:before,
.title-thread .threadtag[data-filter="ALQUIMIA"]:before,
.title-thread .threadtag[data-filter="ARTESANÍA"]:before,
.title-thread .threadtag[data-filter="PRIMEROS AUXILIOS"]:before,
.title-thread .threadtag[data-filter="ENCARGO"]:before,
.title-thread .threadtag[data-filter="MINI-ENCARGO"]:before {
  font-size: var(--fs-smaller);
  line-height: 110%;
}
#tagForm .threadtag[data-filter="ENTRENAMIENTO"],
#tagForm .threadtag[data-filter="OFICIO"],
#tagForm .threadtag[data-filter="VIGILANCIA"],
#tagForm .threadtag[data-filter="FORJA"],
#tagForm .threadtag[data-filter="ALQUIMIA"],
#tagForm .threadtag[data-filter="ARTESANÍA"],
#tagForm .threadtag[data-filter="PRIMEROS AUXILIOS"],
#tagForm .threadtag[data-filter="ENCARGO"],
#tagForm .threadtag[data-filter="MINI-ENCARGO"] {
  font-size: inherit;
}
#tagForm .threadtag[data-filter="ENTRENAMIENTO"]:before,
#tagForm .threadtag[data-filter="OFICIO"]:before,
#tagForm .threadtag[data-filter="VIGILANCIA"]:before,
#tagForm .threadtag[data-filter="FORJA"]:before,
#tagForm .threadtag[data-filter="ALQUIMIA"]:before,
#tagForm .threadtag[data-filter="ARTESANÍA"]:before,
#tagForm .threadtag[data-filter="PRIMEROS AUXILIOS"]:before,
#tagForm .threadtag[data-filter="ENCARGO"]:before,
#tagForm .threadtag[data-filter="MINI-ENCARGO"]:before {
  display: none !important;
}
.threadtag[data-filter="ENTRENAMIENTO"]:before {
  content: "ENT";
}
.threadtag[data-filter="OFICIO"]:before {
  content: "OFI";
}
.threadtag[data-filter="VIGILANCIA"]:before {
  content: "VIG";
}
.threadtag[data-filter="FORJA"]:before {
  content: "FOR";
}
.threadtag[data-filter="ALQUIMIA"]:before {
  content: "ALQ";
}
.threadtag[data-filter="ARTESANÍA"]:before {
  content: "ART";
}
.threadtag[data-filter="PRIMEROS AUXILIOS"]:before {
  content: "AUX";
}
.threadtag[data-filter="ENCARGO"]:before {
  content: "ENC";
}
.threadtag[data-filter="MINI-ENCARGO"]:before {
  content: "CAOS";
}
.pbsearchpost .threadtag {
  background: var(--group);
  text-shadow: none !important;
}
