.grmm-tit {
&[class*="nemesis"] > em:before {content: "\f6cb";}    
&[class*="tyche"] > em:before {content: "\f655";}
&[class*="persefone"] > em:before {content: "\e5aa";}
&[class*="afrodita"] > em:before {content: "\f4ba";}
&[class*="dioniso"] > em:before {content: "\f4e3";}
&[class*="hades"] > em:before {content: "\f54c";}
&[class*="hecate"] > em:before {content: "\f6bf";}
&[class*="artemisa"] > em:before {content: "\f186";}
&[class*="poseidon"] > em:before {content: "\f773";}
&[class*="hypnos"] > em:before {content: "\f34e";}
&[class*="khione"] > em:before {content: "\f2dc";}
&[class*="hebe"] > em:before {content: "\e588";}
&[class*="atenea"] > em:before {content: "\f5dc";}
&[class*="demeter"] > em:before {content: "\f72d";}
&[class*="iris"] > em:before {content: "\f75b";}
&[class*="hermes"] > em:before {content: "\f56b";}
&[class*="apolo"] > em:before {content: "\f001";}
&[class*="zeus"] > em:before {content: "\f0e7";}
&[class*="hefesto"] > em:before {content: "\f6e3";}
&[class*="hestia"] > em:before {content: "\f7e4";}
&[class*="ares"] > em:before {content: "\f71d";}
}
#memberlist.groupmem {
  gap: var(--paddclamp1);
  & .page-title .usr_grp_clr {
    color: inherit !important;
  }
  & .grmm-tit {
    margin: 0px;
    &:before {
      justify-content: center;
      align-items: center;
      transition: var(--trs1);
      display: flex;
      width: 100%;
      color: var(--group);
      font: var(--fo-icon1);
      font-weight: 900;
      transition: var(--trs1);
    }
    & > em {
      margin-bottom: var(--gap1);
      &:before {
        content: var(--i-group);
        color: var(--group);
        font: var(--fo-icon1);
        font-weight: 900;
        transition: var(--trs1);
        font-size: var(--fs-h4);
      }
    }
    & h1.page-title {
      font-size: var(--fo-h3-clamp);
      margin: 0px;
    }
    & .groupmem-count {
      text-transform: uppercase;
      font: var(--fo-deco3);
      font-weight: bold;
      color: var(--txt4);
      text-shadow: var(--shadow1);
      line-height: 100%;
    }
  }
  & .mbmembers {
    & .mbmember {
      width: calc(30% - var(--paddclamp5));
    }
  }
}
