/*MEDIA*/
@media (min-width: 2400px) {
  :root {
    --bradius: 10px;
    --fs-bigger: 1.47rem;
    --fs-big: 1.32rem;
    --fs-body: 1.17rem;
    --fs-text: 1.09rem;
    --fs-small: 0.92rem;
    --fs-smaller: 0.86rem;
    --fs-smallest: 0.82rem;
    --fs-title: 6.17rem;
    --fs-display: 4.17rem;
    --fs-h1: 3.77rem;
    --fs-h2: 3.17rem;
    --fs-h3: 2.37rem;
    --fs-h4: 2.17rem;
    --fs-h5: 1.83rem;
  }
  .nvnlinks,
  .nvupanel {
    gap: 30px;
  }
  .nvnlinks > a:before,
  .nvupanel a:before {
    font-size: var(--fs-h4);
  }
}
@media (min-width: 2100px) {
  :root {
    --bradius: 10px;
    --fs-bigger: 1.37rem;
    --fs-big: 1.22rem;
    --fs-body: 1.07rem;
    --fs-text: 0.99rem;
    --fs-small: 0.82rem;
    --fs-smaller: 0.76rem;
    --fs-smallest: 0.72rem;
    --fs-title: 6.07rem;
    --fs-display: 4.07rem;
    --fs-h1: 3.67rem;
    --fs-h2: 3.07rem;
    --fs-h3: 2.27rem;
    --fs-h4: 2.07rem;
    --fs-h5: 1.73rem;
  }
  body#phpbb {
    margin-left: 125px;
  }
  header {
    max-height: 800px;
  }
  .himg {
    background-image: var(--pngimg-2);
  }
  #page-footer .navbar ul {
    gap: 12px;
    justify-content: space-between;
  }
  #page-footer ul.linklist li.footer-home {
    font-size: 0px;
  }
  #page-footer ul.linklist li.footer-home:after {
    content: "";
    display: none;
  }
  #page-footer ul.linklist li.footer-home > a:before {
    content: "\f80a";
    font: 300 var(--fs-bigger) var(--font4);
  }
  .nvside {
    width: 125px;
    padding: 50px 10px;
  }
  .nvava {
    height: 75px;
    width: 75px;
  }
  .nvtop {
    padding: 20px;
  }
  #notif_list,
  .navigationpanel {
    margin-top: 30px;
    left: 150px !important;
  }
  mainbody {
    max-width: 1800px;
    padding: 120px;
  }
  #tablon {
    margin-bottom: 120px;
  }
  .footerlogin {
    margin-top: 120px;
  }
  .tdesc,
  .tadm,
  .tlocupd,
  .teve,
  .tlult {
    max-height: 270px !important;
    height: 270px !important;
  }
  .tadm > a,
  .tloc,
  .tupd,
  .teve .teeve {
    height: 50%;
  }
  .forum {
    max-width: 800px;
  }
  .forum .forcont,
  .category:has(.frcbackground) .forum .forava {
    padding: 40px;
  }
  .forcont .frcinfo .frclinks {
    margin-top: 30px;
  }
  .statlastu > .stlstuava {
    width: 160px;
    height: 160px;
  }
  .statgroups > a {
    height: 73px;
  }
  .mbsmava {
    max-width: 250px !important;
  }
  .mbsmclinks a {
    width: 40px !important;
    height: 40px !important;
  }
  .postbody ul li:before {
    top: 13px !important;
  }
  .dicethrow .diceres > strong {
    max-width: 132px !important;
  }
  .ucp-paneldecontroldelosavatares fieldset {
    height: 505px !important;
  }
}
@media (min-width: 2000px) {
  .monomer-modal {
    padding: 60px;
    max-width: 500px !important;
  }
  .switcheroo {
    left: 125px;
    width: calc(100% - 125px);
  }
  .switcheroo__avatar img,
  .switcheroo__squircle {
    width: 120px;
    height: 120px;
  }
  .switcheroo__squircle:before {
    width: 124px;
    height: 124px;
  }
  .switcheroo__delete {
    width: 40px;
    height: 40px;
    top: -8px;
    right: -8px;
  }
  .switcheroo__squircle:last-of-type {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 1800px) {
  #page-footer .skincredit > img {
    height: 40px;
  }
  sdnav > a:before {
    font-size: var(--fs-h5) !important;
  }
  sdnav > a:after {
    margin: 0px 16px !important;
  }
  #notif_list,
  .navigationpanel {
    top: 70px;
    max-width: 380px !important;
  }
  .tdesc,
  .tadm,
  .tlocupd,
  .teve,
  .tlult {
    max-height: 240px;
    height: 240px;
  }
  .tadm > a,
  .tloc,
  .tupd,
  .teve .teeve {
    height: 110px;
  }
  .forcont .frcinfo .frcdesc {
    max-height: 110px;
    overflow: auto;
  }
  .forcont .frcinfo .frclinks {
    margin-top: 20px;
  }
  .forum .forcont,
  .category:has(.frcbackground) .forum .forava {
    padding: 30px;
  }
  .forum:not(:has(.frcbackground)) .forava .fraava {
    position: relative !important;
    height: 300px;
  }
  .forum .forava {
    padding: 0px;
    display: block !important;
  }
  .forum:not(:has(.frcbackground)) .forava:before {
    height: 300px;
  }
  .fralastpost {
    padding: 20px;
    border-top: var(--border1);
  }
  .category:has(.frcbackground) .forum {
    min-height: 350px;
  }
  .category:has(.frcbackground) .forum .forava {
    display: flex !important;
  }
  .category:has(.frcbackground) .fralastpost {
    padding: 0px !important;
    border-top: none !important;
  }
  .ppcicweap {
    font-size: var(--fs-bigg) !important;
  }
  .ppcidata .ppcid > em {
    line-height: 100%;
    font-size: var(--fs-smaller) !important;
  }
  .ppcistats .pccontent > strong {
    font-size: var(--fs-text) !important;
    line-height: 90% !important;
  }
  .postheader > a {
    width: 60px !important;
    height: 60px !important;
  }
  .postbody ul li:before {
    top: 12px !important;
  }
  #textarea_content .sceditor-group {
    gap: 20px !important;
  }
  .sceditor-container .sceditor-toolbar {
    gap: 12px 20px !important;
  }
  .tnbuttons {
    gap: 20px !important;
  }
  .tnbuttons > a {
    width: 60px !important;
    height: 60px !important;
  }
  .qmadminlinks > a {
    width: 50px !important;
    height: 50px !important;
  }
  .phmquote:before {
    min-width: 90px;
  }
  .dicethrow .diceres > strong {
    flex: 1 0 11% !important;
    max-width: 115px !important;
  }
  .ucp-paneldecontroldelosavatares fieldset {
    height: 500px !important;
  }
}
@media (max-width: 1100px) {
  :root {
    --sidenav-width: 5rem;
  }
  .nvside {
    padding: 20px 10px;
  }
  .nvava {
    height: 40px;
    width: 40px;
  }
  .nvtree > a > span {
    max-width: 200px;
  }
  #tablon {
    flex-wrap: wrap;
  }
  .tdesc,
  .tlocupd,
  .teve,
  .tlult {
    flex: 1 0 30%;
    min-width: 170px;
  }
  .statonline,
  .stattwenty {
    flex: 1 0 50%;
  }
  .tab {
    padding: 40px 60px !important;
  }
  .right-tabs {
    right: 16px;
  }
  .left-tabs {
    left: 16px;
  }
  .pfchabs,
  .pfcinve {
    line-height: 130% !important;
  }
  .ucp-paneldecontroldelosavatares fieldset {
    height: auto !important;
  }
  .ucp-paneldecontroldelosavatares dl:not(.ucp-muestraunapequeaimagenentusmen) {
    width: 100% !important;
  }
  .ucp-paneldecontroldelosavatares dl.ucp-muestraunapequeaimagenentusmen {
    width: 100% !important;
  }
  .ucp-panel-de-control-de-los-avatares fieldset {
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 980px) and (min-height: 1500px) {
  :root,
  *,
  *::before,
  *::after {
    --bradius: 12px !important;
    --fs-bigger: 2.57rem !important;
    --fs-big: 2.42rem !important;
    --fs-body: 2.1rem !important;
    --fs-text: 1.9rem !important;
    --fs-small: 1.5rem !important;
    --fs-smaller: 1.1rem !important;
    --fs-smallest: 0.9rem !important;
    --fs-title: 4.17rem !important;
    --fs-display: 4.27rem !important;
    --fs-h1: 4rem !important;
    --fs-h2: 3.5rem !important;
    --fs-h3: 2.7rem !important;
    --fs-h4: 2.5rem !important;
    --fs-h5: 2.2rem !important;
  }
  body#phpbb {
    margin-left: 125px;
  }
  header {
    max-height: 800px;
  }
  .himg {
    background-image: var(--pngimg-2);
  }
  #page-footer .navbar ul {
    gap: 12px;
    justify-content: space-between;
  }
  #page-footer ul.linklist li.footer-home {
    font-size: 0px;
  }
  #page-footer ul.linklist li.footer-home:after {
    content: "";
    display: none;
  }
  #page-footer ul.linklist li.footer-home > a:before {
    content: "\f80a";
    font: 300 var(--fs-bigger) var(--font4);
  }
  .nvside {
    width: 125px;
    padding: 50px 10px;
  }
  .nvava {
    height: 75px;
    width: 75px;
  }
  .nvnlinks,
  .nvupanel {
    gap: 40px;
  }
  .nvnlinks > a:before,
  .nvupanel a:before {
    font-size: var(--fs-h2) !important;
  }
  #page-footer .skincredit > img {
    height: 40px;
  }
  .nvtree > a:first-of-type {
    font-size: var(--fs-body);
  }
  .nvtree > a {
    font-size: var(--fs-text);
  }
  sdnav > a:after {
    margin: 0px 16px !important;
  }
  sdnav > a:before {
    font-size: var(--fs-h5) !important;
  }
  .nvtop {
    padding: 20px;
  }
 #notif_list,
  .navigationpanel {
    top: 90px;
    left: 145px !important;
    max-width: 480px;
  }
  .tlocupd .tloc {
    display: none !important;
  }
  .tdesc,
  .tadm,
  .tlocupd,
  .teve,
  .tlult,
  .tupd {
    max-height: 300px;
    height: 300px;
  }
  .tadm,
  .teve {
    flex-direction: row !important;
    width: 100%;
  }
  .tlupst {
    display: none !important;
  }
  .tlupst:nth-of-type(1),
  .tlupst:nth-of-type(2),
  .tlupst:nth-of-type(3),
  .tlupst:nth-of-type(4),
  .tlupst:nth-of-type(5),
  .tlupst:nth-of-type(6) {
    display: block !important;
  }
  .tlupst:nth-of-type(6) {
    margin-bottom: 0px !important;
  }
  .tlocupd,
  .teve {
    flex: 1 0 100% !important;
  }
  .tadm > a,
  .teve .teeve {
    height: 100%;
  }
  .forum {
    max-width: none;
  }
  .forum .forcont,
  .category:has(.frcbackground) .forum .forava {
    padding: 30px;
  }
  .forcont .frcinfo .frcdesc {
    max-height: 155px;
    overflow: auto;
  }
  .navigationpanel > em {
    line-height: 100% !important;
  }
  .forcont .frcinfo .frclinks {
    margin-top: 20px;
  }
  .forum:not(:has(.frcbackground)) .forava .fraava {
    position: relative !important;
    height: 300px;
  }
  .forum .forava {
    padding: 0px;
    display: block !important;
  }
  .forum:not(:has(.frcbackground)) .forava:before {
    height: 300px;
  }
  .fralastpost {
    padding: 20px;
    border-top: var(--border1);
  }
  .category:has(.frcbackground) .forum {
    min-height: 450px;
  }
  .category:has(.frcbackground) .forum .forava {
    display: flex !important;
  }
  .category:has(.frcbackground) .fralastpost {
    padding: 0px !important;
    border-top: none !important;
  }
  .statlinks,
  .statsright {
    flex: 1 0 100%;
    flex-direction: row !important;
  }
  .statonline,
  .stattwenty {
    max-height: 230px !important;
  }
  #statistics .statgroups > a {
    flex: 1 0 9%;
    height: 62px !important;
  }
  #profile .profcont,
  #car-hold {
    min-height: 600px;
  }
  .tab {
    padding: 60px 80px;
  }
  #profile {
    flex-direction: column;
  }
  #profile .profimg .pccontent {
    position: relative !important;
    border-left: var(--border1) !important;
    height: 130px !important;
    width: 130px !important;
  }
  #profile .profimg {
    background: var(--back1);
    max-width: none !important;
    border-left: none !important;
    border-top: var(--border1);
    height: 130px !important;
    min-height: auto !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  .profimg .proflinks {
    justify-content: space-around !important;
    align-items: center;
  }
  #glenjams-05 {
    display: none !important;
  }
  .pfctwo {
    gap: 30px !important;
  }
  .pfchabs,
  .pfcinve {
    line-height: 125% !important;
  }
  .ftopic {
    flex-direction: column !important;
    padding: 0px !important;
    gap: 0px !important;
  }
  .ftopic > div {
    width: 100% !important;
    padding: 20px;
  }
  .ftopicz2 {
    border-top: var(--border1);
    background: var(--back2);
  }
  .ftoplava {
    display: none !important;
  }
  .mbmsl {
    flex: 1 0 50% !important;
  }
  .mbsmava > img {
    display: none !important;
  }
  .mbsmava {
    width: 100%;
    max-width: 100% !important;
    min-width: 100% !important;
    border-right: none !important;
    border-bottom: var(--border1);
    height: 250px !important;
    min-height: auto !important;
  }
  .mbsimgpro {
    display: block !important;
    width: 100%;
    height: 100%;
  }
  .mbsmember {
    flex-direction: column !important;
    max-width: 350px !important;
    min-width: auto !important;
    flex: 1 0 45% !important;
  }
  .mbsmcdata {
    max-height: none !important;
  }
  .mbsimgpro img {
    filter: var(--filter2);
    object-fit: cover;
    object-position: center 30%;
    width: 100%;
    height: 100%;
  }
  .mbsimgpro > div {
    width: 100%;
    height: 100%;
  }
  .mbsmcont {
    min-width: auto;
  }
  .postprofile {
    display: none;
  }
  .phmname,
  .phsubject {
    font-size: var(--fs-h4);
  }
  .pbsearchpost {
    font-size: var(--fs-h5);
  }
  .mhava {
    display: none;
  }
  .phicon img,
  .phicon:empty:before {
    width: 50px;
    height: 50px;
  }
  .postbody ul li:before {
    top: 12px;
  }
  .postheader > a {
    width: 60px;
    height: 60px;
  }
  #textarea_content .sceditor-group {
    gap: 20px;
  }
  .sceditor-container .sceditor-toolbar {
    gap: 12px 20px;
  }
  .tnbuttons {
    gap: 20px !important;
  }
  .tnbuttons > a {
    width: 60px !important;
    height: 60px !important;
  }
  .qmadminlinks > a {
    width: 50px !important;
    height: 50px !important;
  }
  .dicethrow .diceres > strong {
    flex: 1 0 16% !important;
    max-width: 145px !important;
  }
  .phmquote:before {
    min-width: 50px;
  }
  .mbsmclinks {
    gap: 16px !important;
  }
  a.usgp {
    flex: 1 0 40% !important;
  }
  #cp-main.ucp-vigi table.table1 thead th:nth-of-type(3),
  #cp-main.ucp-vigi table.table1 thead th:nth-of-type(4),
  #cp-main.ucp-vigi table.table1 thead th:nth-of-type(6),
  #cp-main.ucp-vigi table tbody tr td:nth-of-type(3),
  #cp-main.ucp-vigi table tbody tr td:nth-of-type(4),
  #cp-main.ucp-vigi table tbody tr td:nth-of-type(6),
  #cp-main.ucp-drafts table.table1 thead th:nth-of-type(1),
  #cp-main.ucp-drafts table.table1 tbody tr td:nth-of-type(1),
  #cp-main.ucp-drafts table.table1 thead th:nth-of-type(3),
  #cp-main.ucp-drafts table.table1 tbody tr td:nth-of-type(3) {
    display: none !important;
  }
  .forcont .frcinfo .frclinks {
    line-height: 75% !important;
  }
  .forcont .frcinfo .frclinks > a {
    font-size: var(--fs-smaller) !important;
  }
  .category:has(.frcbackground) .forum .frcdesc {
    display: none !important;
  }
}


@media (max-width: 950px) {
  header {
    max-height: 500px;
    padding: 40px;
  }
  .himg {
    background-image: var(--pngimg-2);
  }
  #page-footer .navbar ul {
    gap: 12px;
    justify-content: space-between;
  }
  #page-footer ul.linklist li.footer-home {
    font-size: 0px;
  }
  #page-footer ul.linklist li.footer-home:after {
    content: "";
    display: none;
  }
  #page-footer ul.linklist li.footer-home > a:before {
    content: "\f80a";
    font: 300 var(--fs-bigger) var(--font4);
  }
  mainbody {
    padding: 40px;
  }
  #tablon {
    margin-bottom: 40px;
  }
  .footerlogin {
    margin-top: 40px;
  }
  .forum {
    max-width: none;
  }
}

@media (max-width: 900px) {
  #profile {
    flex-direction: column;
  }
  .tab {
    padding: 60px 80px;
  }
  .right-tabs {
    right: 25px;
  }
  .left-tabs {
    left: 25px;
  }
  #profile .profimg .pccontent {
    position: relative;
    border-left: var(--border1);
    height: 130px;
    width: 130px;
  }
  #profile .profimg {
    background: var(--back1);
    max-width: none;
    border-left: 0;
    border-top: var(--border1);
    min-height: auto;
    justify-content: space-between;
    align-items: center;
  }
  .profimg .proflinks {
    justify-content: space-around;
    align-items: center;
  }
  .profimg .proflinks a {
    font-size: var(--fs-h4);
    background: transparent;
    border: 0;
    width: auto;
    height: auto;
  }
  .profimg .proflinks a:hover {
    color: var(--group);
    background: transparent;
  }
  #glenjams-05 {
    display: none;
  }
  .pfchabs,
  .pfcinve {
    line-height: 128%;
  }
  .phmname {
    font-size: var(--fs-h2);
  }
  .pbsearchpost {
    font-size: var(--fs-h3);
  }
  .postprofile {
    display: none;
  }
  .post .postbody {
    min-height: unset;
  }
  .phmquote:before {
    width: 40px;
  }
}

@media (max-width: 700px) {
  #profile .profcont {
    min-width: auto;
  }
  .tab {
    padding: 40px 60px;
  }
  .right-tabs {
    right: -10px;
  }
  .left-tabs {
    left: -10px;
  }
  .left-tabs,
  .right-tabs {
    width: 25px;
    height: 25px;
  }
  .profimg .proflinks a {
    font-size: var(--fs-h5);
  }
  .pfchabs,
  .pfcinve {
    line-height: 130% !important;
  }
  .pfcstats > .pccontent > div > strong {
    flex: 1 0 25% !important;
    font-size: var(--fs-body) !important;
  }
  input.inputbox,
  select.inputbox {
    width: 100% !important;
    display: flex !important;
  }
  #cp-main.ucp-vigi table tbody tr td:nth-of-type(4),
  #cp-main.ucp-vigi table.table1 thead th:nth-of-type(4),
  #cp-main.ucp-vigi table tbody tr td:nth-of-type(6),
  #cp-main.ucp-vigi table.table1 thead th:nth-of-type(6) {
    display: none !important;
  }
  .panel.ucp-informacinderegistro dl.ucp- {
    display: none !important;
  }
  .ftopic {
    flex-direction: column !important;
    padding: 0px !important;
    gap: 0px !important;
  }
  .ftopic > div {
    width: 100% !important;
    padding: 20px;
  }
  .ftopicz2 {
    border-top: var(--border1);
    background: var(--back2);
  }
  .ftoplava {
    display: none !important;
  }
  .mbsmava > img {
    display: none !important;
  }
  .mbsmava {
    width: 100%;
    max-width: 100% !important;
    min-width: 100% !important;
    border-right: none !important;
    border-bottom: var(--border1);
    height: 250px !important;
    min-height: auto !important;
  }
  .mbsimgpro {
    display: block !important;
    width: 100%;
    height: 100%;
  }
  .mbsmember {
    flex-direction: column !important;
    max-width: 350px !important;
    min-width: auto !important;
    flex: 1 0 100% !important;
  }
  .mbsimgpro img {
    filter: var(--filter2);
    object-fit: cover;
    object-position: center 30%;
    width: 100%;
    height: 100%;
  }
  .mbsimgpro > div {
    width: 100%;
    height: 100%;
  }
  .mbsmcont {
    min-width: auto;
  }
  .mbsimgava {
    display: none;
  }
  .mbsmcdata {
    max-height: none;
  }
  .phmname {
    font-size: var(--fs-h3);
  }
  .pbsearchpost {
    font-size: var(--fs-h4);
  }
  .phmain {
    gap: 12px;
  }
  .phicon img,
  .phicon:empty:before,
  .phicon img {
    width: 70px;
    height: 70px;
  }
  .postheader,
  .messheader {
    padding: 20px;
  }
}

@media (max-width: 600px) {  
  :root { 
    --nav-height: 60px;
  }
  .nvtree:has(a:nth-child(n+3)) > a > span {
    max-width: 95px;
  }
  .phmname,
  .phsubject {
    font-size: var(--fs-h4);
  }
  .pbsearchpost {
    font-size: var(--fs-h5);
  }
  #cp-main.ucp-drafts table.table1 thead th:nth-of-type(1),
  #cp-main.ucp-drafts table.table1 tbody tr td:nth-of-type(1),
  #cp-main.ucp-drafts table.table1 thead th:nth-of-type(3),
  #cp-main.ucp-drafts table.table1 tbody tr td:nth-of-type(3) {
    display: none !important;
  }
  .forum {
    flex-direction: column !important;
    flex: 1 0 100%;
  }
  .forum .forcont {
    border-right: none;
  }
  .forum .forava {
    width: 100%;
    max-width: none !important;
    border-top: var(--border1);
    min-height: auto;
    min-width: auto;
    padding: 20px;
    position: initial !important;
    gap: 20px;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: end;
  }
  .forum .forava:before {
    display: none;
  }
  .forava .fraava {
    outline: var(--baborder);
    filter: none;
    outline-color: var(--group);
    outline-offset: 2px;
  }
  .forum .forava:empty:before,
  .forava .fraava img {
    filter: var(--filter1) !important;
  }
  .forava .fraava,
  .forum .forava:empty:before,
  .forava .fraava img {
    position: relative !important;
    width: 60px;
    height: 60px;
    border-radius: var(--bradius);
    overflow: hidden;
    flex-shrink: 0;
  }
  .fralicon {
    top: initial !important;
    right: initial !important;
    bottom: 72px !important;
    left: 13px !important;
  }
  .category:has(.frcbackground) .forum .forcont {
    min-height: 300px;
    position: relative;
  }
  .category:has(.frcbackground) .forum .forava {
    background: var(--back1);
  }
  body#phpbb {
    margin-left: 0;
  }
  header {
    padding: 30px;
  }
  .himg {
    background-image: var(--pngimg-3);
  }
  .nvside {
    width: 100%;
    padding-block: 12px;
    height: auto;
    flex-direction: row;
    top: 26px;
    line-height: 1em;
    border-right: none;
    border-bottom: var(--border1);
  }
  .nvside > div {
    flex-direction: row;
  }
  .nvside a:before {
    font-size: var(--fs-text);
  }
  .nvava {
    height: 30px;
    width: 30px;
    display: none !important;
  }
  a#fa_notifications > span#notif_unread {
    left: 170%;
    top: 20px;
  }
  #notif_list,
  .navigationpanel {
    top: 65px;
    left: 20px !important;
  }
  #page-footer {
    padding: 30px 20px;
    margin-top: 20px;
  }
  .nvtop {
    padding: 6px;
  }
  mainbody {
    padding: 20px;
  }
  #tablon {
    margin-bottom:45px;
    padding: var(--padd0);
    justify-content: center;
  }
  .tlult {
    max-height:initial; 
    height:initial; 
    overflow:hidden; 
    padding:0px;
    gap: 10px;
  }
  .tadm {
    display: none;
  }
  .tlupst:nth-of-type(n+6) {
    display:none;
  }
  .tlupst:last-of-type {
    margin-bottom: 0;
  }
  .tlocupd,
  .teve {
    flex: 1 0 100% ;
  }
  .tupd {
    max-height: 100px;
    height: auto;
  }
  .statlinks,
  .statsright,
  .statlastu
  {
    flex: 1 0 100%;
    flex-direction: row !important;
  }
  .statlastu > .stlstuava {
    width: 90px;
    height: 90px;
  }
  .stlstunam > strong {
    font-size: var(--fs-bigger);
  }
  .statsright,
  .statonline,
  .stattwenty {
    min-width: auto;
  }
  .statonline,
  .stattwenty {
    max-height: auto !important;
  }
  .pfcuser {
    font-size: var(--fs-h3);
  }
  .pfcmain > div {
    flex: 1 0 30% !important;
  }
  .tab {
    padding: 50px !important;
  }
  .pfcmain {
    padding: 20px !important;
  }
  #profile .profimg .pccontent {
    display: none !important;
  }
  .pfcstats > .pccontent > div > strong > i {
    font-size: var(--fs-bigger) !important;
  }
  .pfctrank {
    font-size: var(--fs-h4) !important;
  }
  .pfchabs,
  .pfcinve {
    line-height: 128% !important;
  }
  fieldset dd {
    margin-left: 0px !important;
  }
  fieldset dt {
    width: 100% !important;
  }
  #cp-main.ucp-vigi table tbody tr td:nth-of-type(3),
  #cp-main.ucp-vigi table.table1 thead th:nth-of-type(3) {
    display: none !important;
  }
  .panel {padding: 20px;}
  .mbsmcont {
    padding: 20px;
  }
  .pbinfo {
    position: static;
  }
  .postbody .content {
    padding: var(--padd0);
  }
  .postheader > a {
    width: 35px;
    height: 35px;
    font-size: var(--fs-big);
  }
  .phicon img,
  .phicon:empty:before,
  .mhava img {
    width: 50px;
    height: 50px;
  }
  .phmquote:before {
    width: 30px;
  }
  .signature_div {
    margin-bottom: 0;
  }
  .sigcont .signature_div > br:first-of-type {
    display: none !important;
  }
  .cattitle h2 {
    margin-bottom: 10px;
  }  
  .switcheroo {
    left: 0;
    width: 100%;
  }
}

@media (max-width: 550px) {
  #cp-main {
    padding: 20px;
  }
  #cp-main .panel {
    padding: 12px;
  }
  #cp-main h1 {
    margin-bottom: 20px;
  }
  #cp-main .panel p {
    margin-bottom: 12px;
  }
}

@media (max-width: 500px) {  
  :root {
    --bodypadd: 0;
    --bodywidth: unset;
  }
  .nvtree:has(a:nth-child(n+2)) > a > span {
    max-width: 70px;
  }
  .nvtree:has(a:nth-child(n+4)) > a > span {
    max-width: 55px;
  }
  .mhava {
    display: none;
  }
  .phmname,
  .phsubject {
    font-size: var(--fs-h5);
  }
  .phmquote:before {display: none;}
  mainbody {
    padding: 12px;
  }
  .tupd, .tdesc, .teve>*:not(:nth-of-type(1)) {display: none;}
  .teve {
    height: 7.7rem;
  }
  .teve .teeve {
    height: 100%;
  }
  .tupd, .tlult, .tlocupd {
    min-width:auto;
    flex:1 0 100%;
    line-height: 1em;
  }
  .right-tabs {
    right: 5px;
  }
  .left-tabs {
    left: 5px;
  }
  .pfctraits {
    flex-direction: column;
  }
  .pfctraits > div {
    width: 100%;
  }
  a.usgp {
    flex: 1 0 40%;
    max-width: 100%;
  }
  blockquote,
  dl.codebox dd,
  dl.codebox.spoiler .spoiler_content.hidden {
    padding: 12px;
  }
  dl.codebox.spoiler > dd {
    padding: 0px;
  }
  dl.codebox dt {
    padding: 6px;
  }
  .nvnlinks,
  .nvupanel {
    gap: 10px;
  }
  .nvava {
    display: none;
  }
  .tab {
    padding: 40px;
  }
}

@media (max-height: 400px) {
  .tab {
    padding: 30px;
  }
  .pfctrank > span {
    font-size: var(--fs-h5);
  }
}

@media (min-height: 1500px) {
  .monomer-modal {
    padding: 60px;
    max-width: 600px !important;
  }
  .switcheroo {
    left: 125px;
    width: calc(100% - 125px);
  }
  .switcheroo__avatar img,
  .switcheroo__squircle {
    width: 120px;
    height: 120px;
  }
  .switcheroo__squircle:before {
    width: 124px;
    height: 124px;
  }
  .switcheroo__delete {
    width: 40px;
    height: 40px;
    top: -8px;
    right: -8px;
  }
  .switcheroo__squircle:last-of-type {
    width: 60px;
    height: 60px;
  }
}
