/*DADOS*/
.postdados .postheader {
  border-bottom: none !important;
  justify-content: flex-end !important;
  border-radius: var(--bradius) var(--bradius) 0px 0px !important;
}
.postdados .postbody {
  border: var(--border1) !important;
  border-radius: 0px 0px var(--bradius) var(--bradius) !important;
  min-height: auto !important;
}
.dicecont .dicequote {
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  font: var(--fo-deco1);
  font-weight: 800;
  color: var(--txt1);
  line-height: 150%;
  text-decoration: underline;
  text-decoration-color: var(--tgroup);
  text-decoration-thickness: var(--bthickness);
  text-underline-offset: var(--bthickness);
  margin-bottom: var(--paddclamp7);
}
.dicethrow {
  gap: var(--gap4);
  background: var(--tback2);
  padding: var(--paddclamp7);
  border-radius: var(--bradius);
  border: var(--border1);
}
.dicethrow .dicetitle {
  text-transform: uppercase;
  font: var(--fo-h5);
  font-size: var(--fo-h5-clamp);
  line-height: 100%;
}
.dicethrow .dicetitle:before {
  content: "";
  width: var(--paddclamp1);
  height: var(--bthickness);
  display: inline-block;
  background: var(--tgroup);
  margin-right: var(--gap2);
  position: relative;
  top: calc(var(--gap1) * -1);
}
.dicethrow .dicetitle > em {
  color: var(--group);
}
.dicethrow .dicetitle > b {
  font-weight: 900;
}
.dicethrow .diceres {
  gap: var(--gap4);
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}
.dicethrow .diceres:not(:last-of-type) {
  margin-bottom: var(--gap1);
}
.dicethrow .diceres > strong {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 70px;
  padding: var(--gap4);
  flex: 1 0 8%;
  min-width: var(--icon1);
  max-width: var(--icon3);
  border: var(--border1);
  border-radius: var(--bradius);
  background: var(--back1);
  font: var(--fo-h3);
  color: var(--txt2);
  line-height: 100%;
  text-transform: uppercase;
  text-shadow: 1px 1px 0.5px var(--group);
}
.dicethrow .diceres > strong > em {
  font: bold var(--fo-deco2);
  font-weight: bold;
  text-shadow: none !important;
  color: var(--txt3);
  line-height: 100%;
}
.dicethrow .diceres:is(.dracma, .moiras, .dado-del-destino) > strong,
.dicethrow .diceres:is(.ataque, .defensa) > strong:is(.res-1, .res-8),
.dicethrow .diceres:is(.ataque-de-espíritu, .defensa-de-espíritu) > strong:is(.res-1, .res-12) {
  gap: var(--gap0);
  & i {
    font-weight: normal;
  }
  & span {
    line-height: 85%;
  }
}
.pastmessages .postdados .postbody {
  border: var(--border1) !important;
  border-radius: var(--bradius) !important;
}
.pastmessages .postdados .content {
  border: none !important;
  border-radius: var(--bradius) !important;
}
.diceres strong.dcr {
  flex: 1 0 30%;
  min-width: 200px;
  padding: var(--paddclamp7);
  border: var(--border1);
  border-radius: var(--bradius);
  background: var(--back1);
  justify-content: start;
  align-items: center;
  max-width: 25.71rem;
  gap: var(--gap2);
  text-shadow: none;
  text-transform: none;
}
.diceres strong.dcr > div {
  gap: var(--gap2);
}
.diceres .dcr .dcrimg {
  justify-content: center;
  align-items: center;
  position: relative;
  width: var(--icon5);
  height: var(--icon5);
  outline: var(--baborder);
  border-radius: var(--bradius);
  outline-offset: var(--gap0);
  margin: var(--gap0) auto;
}
.diceres .dcr .dcrimg:before {
  content: "";
  position: absolute;
  background-image: var(--cridiceimg);
  z-index: 0;
  width: 100%;
  height: 100%;
  filter: var(--filter2);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--bradius);
  overflow: hidden;
}
.diceres .dcr strong.crname {
  text-transform: uppercase;
  margin-top: var(--gap3);
  font: var(--fo-deco1);
  font-size: var(--fs-bigger);
  font-weight: 900;
  line-height: 100%;
  color: var(--txt1);
}
.diceres .dcr .dcrstats {
  gap: var(--gap2);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.diceres .dcr .dcrstats > em {
  padding: 0px var(--gap3);
  border-radius: var(--bradius);
  border-left: var(--border2);
  border-right: var(--border2);
  font: var(--fo-bod2);
  font-weight: 800;
  color: var(--txt4);
}
.diceres .dcr .dcrstats > em > b {
  font-style: normal;
  font-size: var(--fs-small);
  font-family: var(--font3);
  color: var(--accent);
}
.diceres .dcr .dcrdesc {
  height: 10rem;
  overflow: auto;
  margin-top: var(--fa-gap3);
  font: var(--fo-bod1);
  line-height: 125%;
  padding-right: var(--gap3);
  color: var(--txt2);
  text-align: justify;
}
.diceres .dcr .dcrdesc > h4 {
  text-transform: uppercase;
  font: var(--fo-bod-alt1);
  font-weight: 800;
  color: var(--txt1);
  text-decoration: underline;
  text-decoration-color: var(--taccent);
  text-decoration-thickness: var(--bthickness);
  text-underline-offset: var(--bthickness);
  margin-bottom: var(--gap2);
}
.diceres .dcr .dcrdesc > span {
  display: block;
  margin-bottom: var(--gap0);
}
.diceres .dcr .dcrdesc > span > b {
  text-transform: uppercase;
  color: var(--accent);
  font: var(--fo-deco2);
  font-weight: 800;
}
.diceres .dcr .dcrdesc > span > b::after {
  content: ".";
}
.diceres .dcr .dcrdesc > h4:not(:first-of-type) {
  margin-top: var(--gap2);
}
.dcr .crarpia {
  --cridiceimg: url("https://d.l3n.co/XzKzyF.png");
}
.dcr .crautomata {
  --cridiceimg: url("https://b.l3n.co/XzKlnr.png");
}
.dcr .crgorgona {
  --cridiceimg: url("https://d.l3n.co/XzKHQ7.png");
}
.dcr .crkobaloi {
  --cridiceimg: url("https://b.l3n.co/XzKO8b.png");
}
.dcr .crleucrota {
  --cridiceimg: url("https://c.l3n.co/XzKpuT.png");
}
.dcr .crmyrmeke {
  --cridiceimg: url("https://d.l3n.co/XzKKmz.png");
}
.dcr .croveja {
  --cridiceimg: url("https://c.l3n.co/XzK4I5.png");
}
.dcr .crestirge {
  --cridiceimg: url("https://b.l3n.co/XzKsUC.png");
}
.dcr .cranfisbena {
  --cridiceimg: url("https://a.l3n.co/XzKm7v.png");
}
.dcr .crciclope {
  --cridiceimg: url("https://b.l3n.co/XzKBT2.png");
}
.dcr .crcria {
  --cridiceimg: url("https://c.l3n.co/XzKdy9.png");
}
.dcr .crdracaenae {
  --cridiceimg: url("https://b.l3n.co/XzK9eo.png");
}
.dcr .crempusa {
  --cridiceimg: url("https://a.l3n.co/XzKVQi.png");
}
.dcr .crhyppalektryon {
  --cridiceimg: url("https://b.l3n.co/XzKQ8m.png");
}
.dcr .crperros {
  --cridiceimg: url("https://c.l3n.co/XzKCoP.png");
}
.dcr .crlestrigon {
  --cridiceimg: url("https://d.l3n.co/XzK6mZ.png");
}
.dcr .crguerrero {
  --cridiceimg: url("https://c.l3n.co/XzKkIK.png");
}
.dcr .crsirenas {
  --cridiceimg: url("https://d.l3n.co/XzKTFc.png");
}
