/*MEDIA*/
@media (max-width: 1100px) {
  :root, * {
    --sidenav-width: 5rem;
  }
  /* navbars */
  .nvside {
    padding: var(--padd1) var(--gap3)
  }
  .nvava {
    height: var(--padd5);
    width: var(--padd5);
  }
  .nvtree > a > span {
    max-width: 6rem;
  }
  /* tablon */
  #tablon {
    flex-wrap: wrap;
  }
  .tdesc,
  .tlocupd,
  .teve,
  .tlult {
    flex: 1 0 40%;
    min-width: 1rem;
  }
  /* estadisticas */
  .statonline,
  .stattwenty {
    flex: 1 0 50%;
  }
  /* config */
  .ucp-paneldecontroldelosavatares fieldset {
    height: auto !important;
  }
  .ucp-paneldecontroldelosavatares dl:not(.ucp-muestraunapequeaimagenentusmen) {
    width: 100% !important;
  }
  .ucp-paneldecontroldelosavatares dl.ucp-muestraunapequeaimagenentusmen {
    width: 100% !important;
  }
  .ucp-panel-de-control-de-los-avatares fieldset {
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 980px) and (min-height: 1500px) {
  /* header */
  header {
    max-height: 800px;
  }
  .himg {
    background-image: var(--pngimg-2);
  }
  /* footer */
  #page-footer .navbar ul {
    gap: var(--gap4);
    justify-content: space-between;
  }
  #page-footer ul.linklist li.footer-home {
    font-size: 0px;
  }
  #page-footer ul.linklist li.footer-home:after {
    content: "";
    display: none;
  }
  #page-footer ul.linklist li.footer-home > a:before {
    content: "\f80a";
    font: var(--fo-icon1);
  }
  /* tablon */
  .tlupst, .tadm, .tdesc, .tupd, .teve .teeve:not(:first-of-type) {
    display: none !important;
  }
  .tlupst:nth-of-type(1),
  .tlupst:nth-of-type(2),
  .tlupst:nth-of-type(3),
  .tlupst:nth-of-type(4),
  .tlupst:nth-of-type(5),
  .tlupst:nth-of-type(6),
  .tlupst:nth-of-type(7),
  .tlupst:nth-of-type(8) {
    display: block !important;
  }
  .tlupst:nth-of-type(8) {
    margin-bottom: 0px !important;
  }
  .tlocupd,
  .teve {
    flex: 1 0 100% !important;
  }
  .tadm > a,
  .teve .teeve {
    height: 100%;
  }
  .teve {
    height: 7.4rem;
  }
  /* navbars */
  .navigationpanel > em {
    line-height: 100% !important;
  }
  /* foros y subforos */
  .forum {
    max-width: none;
  }
  .forum:not(:has(.frcbackground)) .forava .fraava {
    position: relative !important;
    height: 17rem;
  }
  .forum .forava {
    padding: 0px;
    display: block !important;
  }
  .forum:not(:has(.frcbackground)) .forava:before {
    height: 17rem;
  }
  .fralastpost {
    padding: var(--padd1);
    border-top: var(--border1);
  }
  .category:has(.frcbackground) .forum {
    min-height: 21rem;
  }
  .category:has(.frcbackground) .forum .forava {
    display: flex !important;
  }
  .category:has(.frcbackground) .fralastpost {
    padding: 0px !important;
    border-top: none !important;
  }
  .ftopic {
    flex-direction: column !important;
    padding: 0px !important;
    gap: 0px !important;
  }
  .ftopic > div {
    width: 100% !important;
    padding: var(--padd1);
  }
  .ftopicz2 {
    border-top: var(--border1);
    background: var(--back2);
  }
  .ftoplava {
    display: none !important;
  }
  .forcont .frcinfo .frclinks {
    line-height: 75% !important;
  }
  .forcont .frcinfo .frclinks > a {
    font-size: var(--fs-smaller) !important;
  }
  .category:has(.frcbackground) .forum .frcdesc {
    display: none !important;
  }
  /* estadisticas */
  .statlinks,
  .statsright {
    flex: 1 0 100%;
    flex-direction: row !important;
  }
  .statonline,
  .stattwenty {
    max-height: 16rem !important;
  }
  #statistics .statgroups > a {
    flex: 1 0 9%;
    height: var(--padd6) !important;
  }
  /* memberlist */
  .mbmsl {
    flex: 1 0 50% !important;
  }
  .mbsmava > img {
    display: none !important;
  }
  .mbsmava {
    width: 100%;
    max-width: 100% !important;
    min-width: 100% !important;
    border-right: none !important;
    border-bottom: var(--border1);
    height: 17rem!important;
    min-height: auto !important;
  }
  .mbsimgpro {
    display: block !important;
    width: 100%;
    height: 100%;
  }
  .mbsmember {
    flex-direction: column !important;
    max-width: 23rem !important;
    min-width: auto !important;
    flex: 1 0 45% !important;
  }
  .mbsmcdata {
    max-height: none !important;
  }
  .mbsimgpro img {
    filter: var(--filter2);
    object-fit: cover;
    object-position: center 30%;
    width: 100%;
    height: 100%;
  }
  .mbsimgpro > div {
    width: 100%;
    height: 100%;
  }
  .mbsmcont {
    min-width: auto;
  }
  .mbsmclinks {
    gap: var(--gap3) !important;
  }
  /* posts */
  .postprofile {
    display: none;
  }
  .phmname,
  .phsubject {
    font-size: var(--fs-h4);
  }
  .pbsearchpost {
    font-size: var(--fs-h5);
  }
  #textarea_content .sceditor-group {
    gap: var(--gap3);
  }
  #textarea_content .sceditor-group:not(:last-of-type)::after {
    margin-left: var(--gap1); 
  }
  .sceditor-container .sceditor-toolbar {
    gap: var(--gap3) var(--gap5);
  }
  .dicethrow .diceres > strong {
    flex: 1 0 16% !important;
    max-width: 10rem !important;
  }
  /* prevs */
  a.usgp {
    flex: 1 0 40% !important;
  }
  .mhava {
    display: none;
  }
  /* config */
  #cp-main.ucp-vigi table.table1 thead th:nth-of-type(3),
  #cp-main.ucp-vigi table.table1 thead th:nth-of-type(4),
  #cp-main.ucp-vigi table.table1 thead th:nth-of-type(6),
  #cp-main.ucp-vigi table tbody tr td:nth-of-type(3),
  #cp-main.ucp-vigi table tbody tr td:nth-of-type(4),
  #cp-main.ucp-vigi table tbody tr td:nth-of-type(6),
  #cp-main.ucp-drafts table.table1 thead th:nth-of-type(1),
  #cp-main.ucp-drafts table.table1 tbody tr td:nth-of-type(1),
  #cp-main.ucp-drafts table.table1 thead th:nth-of-type(3),
  #cp-main.ucp-drafts table.table1 tbody tr td:nth-of-type(3) {
    display: none !important;
  }
  /* perfiles */
  #profile .profcont,
  #car-hold {
    min-height: 600px;
  }
  .tab {
    padding: 60px 80px;
  }
  #profile {
    flex-direction: column;
  }
  #profile .profimg .pccontent {
    position: relative !important;
    border-left: var(--border1) !important;
    height: 130px !important;
    width: 130px !important;
  }
  #profile .profimg {
    background: var(--back1);
    max-width: none !important;
    border-left: none !important;
    border-top: var(--border1);
    height: 130px !important;
    min-height: auto !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  .profimg .proflinks {
    justify-content: space-around !important;
    align-items: center;
  }
  #glenjams-05 {
    display: none !important;
  }
  .pfctwo {
    gap: 30px !important;
  }
  .pfchabs,
  .pfcinve {
    line-height: 125% !important;
  }
}

@media (max-width: 950px) {
  /* header */
  header {
    max-height: 500px;
  }
  .himg {
    background-image: var(--pngimg-2);
  }
  /* footer */
  #page-footer .navbar ul {
    gap: var(--gap3);
    justify-content: space-between;
  }
  #page-footer ul.linklist li.footer-home {
    font-size: 0px;
  }
  #page-footer ul.linklist li.footer-home:after {
    content: "";
    display: none;
  }
  #page-footer ul.linklist li.footer-home > a:before {
    content: "\f80a";
    font: 300 var(--fs-bigger) var(--font4);
  }
  /* cuerpo */
  .forum {
    max-width: none;
  }
}

@media (max-width: 900px) {
  /* perfil */
  #profile {
    flex-direction: column;
  }
  #profile .profimg .pccontent {
    position: relative;
    border-left: var(--border1);
    height: var(--icon4);
    width: var(--icon4);
  }
  #profile .profimg {
    background: var(--back1);
    max-width: none;
    border-left: 0;
    border-top: var(--border1);
    min-height: auto;
    justify-content: space-between;
    align-items: center;
  }
  .profimg .proflinks {
    justify-content: space-around;
    align-items: center;
  }
  .profimg .proflinks a {
    font-size: var(--fs-h4);
    background: transparent;
    border: 0;
    width: auto;
    height: auto;
  }
  .profimg .proflinks a:hover {
    color: var(--group);
    background: transparent;
  }
  #glenjams-05 {
    display: none;
  }
  /* posts */
  .postprofile {
    display: none;
  }
  .post .postbody {
    min-height: unset;
  }
}

@media (max-width: 700px) {
  input.inputbox,
  select.inputbox {
    width: 100% !important;
    display: flex !important;
  }
  /* perfil */
  #profile .profcont {
    min-width: auto;
  }
  .right-tabs {
    right: calc((var(--padd4) / 2) * -1);
  }
  .left-tabs {
    left: calc((var(--padd4) / 2) * -1);
  }
  .left-tabs,
  .right-tabs {
    width: var(--padd4);
    height: var(--padd4);
  }
  .profimg .proflinks a {
    font-size: var(--fs-h5);
  }
  .pfcstats > .pccontent > div > strong {
    flex: 1 0 25% !important;
    font-size: var(--fs-body) !important;
  }
  /* config */
  #cp-main.ucp-vigi table tbody tr td:nth-of-type(4),
  #cp-main.ucp-vigi table.table1 thead th:nth-of-type(4),
  #cp-main.ucp-vigi table tbody tr td:nth-of-type(6),
  #cp-main.ucp-vigi table.table1 thead th:nth-of-type(6) {
    display: none !important;
  }
  .panel.ucp-informacinderegistro dl.ucp- {
    display: none !important;
  }
  /* foros y subforos */
  .ftopic {
    flex-direction: column !important;
    padding: 0px !important;
    gap: 0px !important;
  }
  .ftopic > div {
    width: 100% !important;
    padding: var(--padd1);
  }
  .ftopicz2 {
    border-top: var(--border1);
    background: var(--back2);
  }
  .ftoplava {
    display: none !important;
  }
  /* memberlist */
  .mbsmava > img {
    display: none !important;
  }
  .mbsmava {
    width: 100%;
    max-width: 100% !important;
    min-width: 100% !important;
    border-right: none !important;
    border-bottom: var(--border1);
    height: 17rem !important;
    min-height: auto !important;
  }
  .mbsimgpro {
    display: block !important;
    width: 100%;
    height: 100%;
  }
  .mbsmember {
    flex-direction: column !important;
    max-width: 23rem !important;
    min-width: auto !important;
    flex: 1 0 45% !important;
  }
  .mbsimgpro img {
    filter: var(--filter2);
    object-fit: cover;
    object-position: center 30%;
    width: 100%;
    height: 100%;
  }
  .mbsimgpro > div {
    width: 100%;
    height: 100%;
  }
  .mbsmcont {
    min-width: auto;
  }
  .mbsimgava {
    display: none;
  }
  .mbsmcdata {
    max-height: none;
  }
}

@media (max-width: 600px) {  
  :root, * { 
    --nav-height: calc(var(--navbar-height) + var(--sidenav-height) - 1px);
    --sidenav-height: 2.5rem;
    --sidenav-width: 0px;
  }
  /* header */
  .himg {
    background-image: var(--pngimg-3);
  }
  /* navbars */
  .nvtree:has(a:nth-child(n+3)) > a > span {
    max-width: 5rem;
  }
  .nvside {
    width: 100%;
    padding-block: var(--gap3);
    flex-direction: row;
    top: calc(var(--navbar-height) - 1px);
    line-height: 1em;
    border-right: none;
    border-bottom: var(--border1);
    height:var(--sidenav-height);
  }
  .nvside > div {
    flex-direction: row;
  }
  .nvside a:before {
    font-size: var(--fs-text);
  }
  .nvava {
    display: none !important;
  }
  .nvtop {
    padding: var(--gap3);
  }
  /* config */
  #cp-main.ucp-drafts table.table1 thead th:nth-of-type(1),
  #cp-main.ucp-drafts table.table1 tbody tr td:nth-of-type(1),
  #cp-main.ucp-drafts table.table1 thead th:nth-of-type(3),
  #cp-main.ucp-drafts table.table1 tbody tr td:nth-of-type(3) {
    display: none !important;
  }
  /* foros y subforos */
  .forum {
    flex-direction: column !important;
    flex: 1 0 100%;
  }
  .forum .forcont {
    border-right: none;
  }
  .forum .forava {
    width: 100%;
    max-width: none !important;
    border-top: var(--border1);
    min-height: auto;
    min-width: auto;
    padding: var(--padd0);
    position: relative !important;
    gap: var(--padd0);
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: end;
  }
  .forum .forava:before {
    display: none;
  }
  .forava .fraava {
    outline: var(--baborder);
    filter: none;
    outline-color: var(--group);
    outline-offset: 2px;
  }
  .forum .forava:empty:before,
  .forava .fraava img {
    filter: var(--filter1) !important;
  }
  .forava .fraava,
  .forum .forava:empty:before,
  .forava .fraava img {
    position: relative !important;
    width: var(--icon1);
    height: var(--icon1);
    border-radius: var(--bradius);
    overflow: hidden;
    flex-shrink: 0;
  }
  .fralicon {
    bottom: initial !important;
    right: initial !important;
    top: var(--padd0) !important;
    left: var(--padd0) !important;
  }
  .category:has(.frcbackground) .forum .forcont {
    min-height: 21rem;
    position: relative;
  }
  .category:has(.frcbackground) .forum .forava {
    background: var(--back1);
  }
  /* tablon */
  #tablon {
    justify-content: center;
  }
  .tlupst, .tadm, .tdesc, .tupd, .teve .teeve:not(:first-of-type) {
    display: none !important;
  }
  .tlupst:nth-of-type(1),
  .tlupst:nth-of-type(2),
  .tlupst:nth-of-type(3),
  .tlupst:nth-of-type(4),
  .tlupst:nth-of-type(5),
  .tlupst:nth-of-type(6),
  .tlupst:nth-of-type(7),
  .tlupst:nth-of-type(8) {
    display: block !important;
  }
  .tlupst:nth-of-type(8) {
    margin-bottom: 0px !important;
  }
  .tlocupd,
  .teve {
    flex: 1 0 100% !important;
  }
  .tadm > a,
  .teve .teeve {
    height: 100%;
  }
  .teve {
    height: 7.4rem;
  }
  /* estadisticas */
  .statlinks,
  .statsright,
  .statlastu
  {
    flex: 1 0 100%;
    flex-direction: row !important;
  }
  .statlastu > .stlstuava {
    width: var(--icon2);
    height: var(--icon2);
  }
  .stlstunam > strong {
    font-size: var(--fs-bigger);
  }
  .statsright,
  .statonline,
  .stattwenty {
    min-width: auto;
  }
  .statonline,
  .stattwenty {
    max-height: auto !important;
  }
  /* perfil */
  .pfcmain > div {
    flex: 1 0 30% !important;
  }
  #profile .profimg .pccontent {
    display: none !important;
  }
  .pfcstats > .pccontent > div > strong > i {
    font-size: var(--fs-bigger) !important;
  }
  /* config */
  fieldset dd {
    margin-left: 0px !important;
  }
  fieldset dt {
    width: 100% !important;
  }
  #cp-main.ucp-vigi table tbody tr td:nth-of-type(3),
  #cp-main.ucp-vigi table.table1 thead th:nth-of-type(3) {
    display: none !important;
  }
  /* posts */
  .pbinfo {
    position: static;
  }
  .signature_div {
    margin-bottom: 0;
  }
  .sigcont .signature_div > br:first-of-type {
    display: none !important;
  }
  /* foros y subforos */
  .cattitle h2 {
    margin-bottom: var(--gap2);
  }
}

@media (max-width: 500px) {  
  :root, * {
    --bodypadd: var(--padd0);
    --bodywidth: unset;
  }
  /* navbars */
  .nvtree:has(a:nth-child(n+2)) > a > span {
    max-width: 3.5rem;
  }
  .nvtree:has(a:nth-child(n+4)) > a > span {
    max-width: 3.5rem;
  }
  .nvnlinks,
  .nvupanel {
    gap: var(--gap5);
  }
  /* tablon */
  .teve {
    height: 7.7rem;
  }
  .teve .teeve {
    height: 100%;
  }
  .tupd, .tlult, .tlocupd {
    min-width:auto;
    flex:1 0 100%;
    line-height: 1em;
  }
  /* perfil */
  .right-tabs {
    right: calc((var(--padd4) / 4) * -1);
  }
  .left-tabs {
    left: calc((var(--padd4) / 4) * -1);
  }
  .pfctraits {
    flex-direction: column;
  }
  .pfctraits > div {
    width: 100%;
  }
  a.usgp {
    flex: 1 0 40%;
    max-width: 100%;
  }
  /* posts */
  blockquote,
  dl.codebox dd,
  dl.codebox.spoiler .spoiler_content.hidden {
    padding: 12px;
  }
  dl.codebox.spoiler > dd {
    padding: 0px;
  }
  dl.codebox dt {
    padding: 6px;
  }
  .nvava, .mhava {
    display: none;
  }
}

@media (min-height: 1500px) {
  .monomer-modal {
    padding: 60px;
    max-width: 600px !important;
  }
  .switcheroo {
    left: 125px;
    width: calc(100% - 125px);
  }
  .switcheroo__avatar img,
  .switcheroo__squircle {
    width: 120px;
    height: 120px;
  }
  .switcheroo__squircle:before {
    width: 124px;
    height: 124px;
  }
  .switcheroo__delete {
    width: 40px;
    height: 40px;
    top: -8px;
    right: -8px;
  }
  .switcheroo__squircle:last-of-type {
    width: 60px;
    height: 60px;
  }
}
