/*GENERAL*/
.postzone {
  gap: var(--paddclamp7);
}
.ppchid,
.post:after,
.invipost .ppcinfo,
.invipost .phmquote,
.invipost .ppcontacts,
.ppcistats .pccontent > br {
  display: none !important;
}
.invipost .phmname {
  color: var(--txt1) !important;
  text-shadow: 1px 1px 0.5px var(--group);
}
.invipost .ppparent > div > span:before {
  content: "nadie";
}
.invipost .ppcont {
  height: 350px !important;
  border-bottom: none !important;
}
.post {
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  --accent: var(--group);
  --taccent: var(--tgroup);
}
.postheader {
  flex: 1 0 100%;
  width: 100%;
  border: var(--border1);
  background: var(--back1);
  padding: var(--paddclamp5);
  gap: var(--paddclamp7);
  justify-content: space-between;
  align-items: center;
}
.phmain {
  justify-content: flex-start;
  align-items: center;
  gap: var(--paddclamp7);
}
.phicon {
  justify-content: center;
  align-items: center;
  outline: var(--baborder);
  margin: var(--bthickness);
  outline-color: var(--tgroup);
  border-radius: var(--bradius);
  border: 4px solid transparent;
  flex-shrink: 0;
}
.phicon img,
.phicon:empty:before {
  width: var(--icon2);
  height: var(--icon2);
  overflow: hidden;
  border-radius: var(--bradius);
  object-fit: cover;
  object-position: center;
}
.phicon:empty:before {
  content: "";
  display: block;
  background-image: url(https://2img.net/i.imgur.com/xr5u4bH.png);
  background-position: center;
  background-size: contain;
}
.phmname {
  text-transform: uppercase;
  font: var(--fo-h1);
  font-size: var(--fo-h1-clamp);
  line-height: 85%;
}
.phmname span {
  color: var(--txt1) !important;
  text-shadow: 1px 1px 0.5px var(--group);
}
.phmname strong {
  font-weight: 900;
}
.phmquote {
  text-transform: lowercase;
  font: var(--fo-deco2);
  font-weight: 300;
  font-style: italic;
  color: var(--txt4);
  line-height: 100%;
  display: inline-flex;
}
.phmquote:before {
  content: "";
  width: var(--paddclamp1);
  height: var(--bthickness);
  float: left;
  background: var(--tgroup);
  margin-right: var(--gap2);
  position: relative;
  align-self: center;
}
.phmquote .pccontent {
  position: relative;
}
.phmcont {
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: var(--gap2);
}
.postheader > a {
  width: var(--padd5);
  height: var(--padd5);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--back2);
  border: var(--border1);
  border-radius: var(--bradius);
  font-size: var(--fs-bigger);
  color: var(--group);
  flex-shrink: 0;
}
.postheader > a:hover {
  color: var(--back1);
  background: var(--group);
  border-color: var(--group);
}
.postprofile {
  width: 251px;
  flex-shrink: 0;
  position: sticky;
  top: var(--nav-height);
  margin-top: 0px;
  background: var(--tback2);
  border-left: var(--border1);
  border-bottom: var(--border1);
  height: fit-content;
}
.ppcont {
  position: relative;
  width: 250px;
  height: 351px;
  border-bottom: var(--border1);
  transition: var(--trs1);
  overflow: hidden;
}
.ppcavatar {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ppcavatar:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: transparent;
  transition: var(--trs1);
  mix-blend-mode: multiply;
}
.ppcont:hover .ppcavatar:before {
  background: var(--group);
}
.ppcavatar img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  object-position: center;
  transition: var(--trs2);
}
.ppcont:hover .ppcavatar img {
  filter: blur(2px) grayscale(1) brightness(0.5);
  transform: scale(1.5) rotate(10deg);
}
.ppcinfo {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: var(--paddclamp5);
  transition: var(--trs2);
  top: 100%;
  gap: var(--gap4);
}
.ppciclass {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--gap0);
  margin-top: var(--gap4);
}
.ppciclass .ppcicicon {
  position: absolute;
  font-size: var(--fs-icons);
  color: var(--tgroup);
  z-index: 0;
}
.ppciclass .ppcicweap {
  font: var(--fo-h4);
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  text-shadow: 1px 1px 0.5px var(--group);
  line-height: 85%;
  color: var(--txt1);
}
.ppciclass .ppciclvl {
  font: var(--fo-bod1);
  font-weight: 900;
  text-transform: uppercase;
  color: var(--txt3);
  gap: var(--gap0);
  line-height: 100%;
  position: relative;
  z-index: 1;
}
.ppciclass .ppciclvl > em {
  font-style: normal;
  color: var(--txt1);
}
.ppcidata {
  gap: var(--gap4);
  flex-wrap: wrap;
  padding: var(--gap4) 0px;
  border-top: var(--tborder);
  border-bottom: var(--tborder);
  border-radius: var(--bradius);
}
.ppcidata .ppcid {
  flex: 1 0 30%;
  gap: var(--gap0);
}
.ppcidata .ppcid > b {
  text-transform: uppercase;
  font: var(--fo-bod-alt2);
  font-weight: 900;
  line-height: 85%;
  color: var(--txt1);
}
.ppcidata .ppcid > em {
  text-transform: uppercase;
  font: var(--fo-deco3);
  font-weight: bold;
  color: var(--txt3);
}
.ppcistats .pccontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: var(--gap2);
}
.ppcistats .pccontent > strong {
  flex: 1 0 30%;
  border-top: var(--baborder);
  border-left: var(--tborder);
  border-right: var(--tborder);
  border-radius: var(--bradius);
  border-top-color: var(--group);
  padding: var(--gap2);
  text-transform: uppercase;
  font: var(--fo-bod1);
  font-weight: bold;
  line-height: 100%;
  color: var(--txt3);
}
.ppcistats .pccontent > strong > i {
  color: var(--txt1);
  font-weight: 900;
  font-style: normal;
}
.ppcont:hover .ppcinfo {
  top: 0px;
}
.ppparent {
  padding: var(--gap4) var(--gap4) 0px var(--gap4);
  text-align: justify;
  text-align-last: right;
  width: 100%;
}
.ppparent > div {
  padding: var(--gap3);
  background: var(--back1);
  border: var(--border1);
  font: var(--fo-deco2);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 110%;
  color: var(--txt1);
  border-radius: var(--bradius);
  width: 100%;
}
.ppparent > div > span {
  display: inline-block;
}
.ppcontacts {
  padding: var(--gap3);
  gap: var(--gap2);
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.ppcontacts a {
  color: var(--group) !important;
  background: var(--back1);
  height: var(--padd4);
  width: var(--padd4);
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border1);
  border-radius: var(--bradius);
  font-size: var(--fs-body);
  text-decoration: none !important;
}
.ppcontacts a:hover {
  color: var(--back1) !important;
  background: var(--group);
  border-color: var(--group);
}
.post .postbody {
  min-height: 400px;
  flex: 1;
  border-left: var(--border1);
  border-right: var(--border1);
  border-bottom: var(--border1);
  background: var(--tback1);
}
.pbinfo {
  position: sticky;
  top: calc(var(--nav-height) - 1px);
  z-index: 55;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: var(--gap4);
  border-bottom: var(--border1);
  background: var(--back2);
  text-transform: uppercase;
  gap: var(--gap2) var(--gap4);
}
.pbiicons {
  gap: var(--gap0) var(--gap4);
  flex-wrap: wrap;
}
.pbiicons > em {
  font-style: normal;
}
.pbiicons > em > a {
  font: var(--fo-deco2);
  font-weight: bold;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-thickness: var(--bthickness);
  text-decoration-color: var(--tgroup);
  color: var(--txt2);
  text-underline-offset: var(--bthickness);
}
.pbidate {
  font: var(--fo-deco2);
  font-weight: bold;
  line-height: 100%;
  color: var(--txt3);
  text-align: right;
}
.pbiicons > em > a:hover {
  color: var(--group);
}
.pbiicons .fa-mention {
  cursor: var(--crs2);
}
