.grmm-tit {
  > em:before {
    content: var(--i-group);
  }
}
#memberlist.groupmem {
  gap: var(--paddclamp1);
  & .page-title .usr_grp_clr {
    color: inherit !important;
  }
  & .grmm-tit {
    margin: 0px;
    &:before {
      justify-content: center;
      align-items: center;
      transition: var(--trs1);
      display: flex;
      width: 100%;
      color: var(--group);
      font: var(--fo-icon1);
      font-weight: 900;
      transition: var(--trs1);
    }
    & > em {
      margin-bottom: var(--gap1);
      &:before {
        content: var(--i-group);
        color: var(--group);
        font: var(--fo-icon1);
        font-weight: 900;
        transition: var(--trs1);
        font-size: var(--fs-h4);
      }
    }
    & h1.page-title {
      font-size: var(--fo-h3-clamp);
      margin: 0px;
    }
    & .groupmem-count {
      text-transform: uppercase;
      font: var(--fo-deco3);
      font-weight: bold;
      color: var(--txt4);
      text-shadow: var(--shadow1);
      line-height: 100%;
    }
  }
}
