/* MEDIA */
@media (max-width: 1100px) {
  :root, * {
    --sidenav-width: 5rem;
  }
  /* navbars */
  .nvside {
    padding: var(--padd1) var(--gap3)
  }
  .nvava {
    height: var(--padd5);
    width: var(--padd5);
  }
  .nvtree > a > span {
    max-width: 6rem;
  }
  /* tablon */
  #tablon {
    flex-wrap: wrap;
  }
  .tdesc,
  .tlocupd,
  .teve,
  .tlult {
    flex: 1 0 40%;
    min-width: 1rem;
  }
  /* estadisticas */
  .statonline,
  .stattwenty {
    flex: 1 0 50%;
  }
  /* config */
  .ucp-paneldecontroldelosavatares fieldset {
    height: auto !important;
  }
  .ucp-paneldecontroldelosavatares dl:not(.ucp-muestraunapequeaimagenentusmen) {
    width: 100% !important;
  }
  .ucp-paneldecontroldelosavatares dl.ucp-muestraunapequeaimagenentusmen {
    width: 100% !important;
  }
  .ucp-panel-de-control-de-los-avatares fieldset {
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 980px) and (min-height: 1500px) {
  .fontsizepanel .fspanel-big {
    display: block;
  }
  /* header */
  header {
    max-height: 800px;
  }
  .himg {
    background-image: var(--pngimg-2);
  }
  /* footer */
  #page-footer .navbar ul {
    gap: var(--gap4);
    justify-content: space-between;
  }
  #page-footer ul.linklist li.footer-home {
    font-size: 0px;
  }
  #page-footer ul.linklist li.footer-home:after {
    content: "";
    display: none;
  }
  #page-footer ul.linklist li.footer-home > a:before {
    content: "\f80a";
    font: var(--fo-icon1);
  }
  /* tablon */
  .tlupst, .tadm, .tdesc, .tupd, .teve .teeve:not(:first-of-type) {
    display: none !important;
  }
  .tlupst:nth-of-type(1),
  .tlupst:nth-of-type(2),
  .tlupst:nth-of-type(3),
  .tlupst:nth-of-type(4),
  .tlupst:nth-of-type(5),
  .tlupst:nth-of-type(6),
  .tlupst:nth-of-type(7),
  .tlupst:nth-of-type(8) {
    display: block !important;
  }
  .tlupst:nth-of-type(8) {
    margin-bottom: 0px !important;
  }
  .tlocupd,
  .teve {
    flex: 1 0 100% !important;
  }
  .tadm > a,
  .teve .teeve {
    height: 100%;
  }
  .teve {
    height: 7.4rem;
  }
  /* navbars */
  .navigationpanel > em {
    line-height: 100% !important;
  }
  /* foros y subforos */
  .forum {
    max-width: none;
  }
  .forum:not(:has(.frcbackground)) .forava .fraava {
    position: relative !important;
    height: 17rem;
  }
  .forum .forava {
    padding: 0px;
    display: block !important;
  }
  .forum:not(:has(.frcbackground)) .forava:before {
    height: 17rem;
  }
  .fralastpost {
    padding: var(--padd1);
    border-top: var(--border1);
  }
  .category:has(.frcbackground) .forum {
    min-height: 21rem;
  }
  .category:has(.frcbackground) .forum .forava {
    display: flex !important;
  }
  .category:has(.frcbackground) .fralastpost {
    padding: 0px !important;
    border-top: none !important;
  }
  .ftopic {
    flex-direction: column !important;
    padding: 0px !important;
    gap: 0px !important;
  }
  .ftopic > div {
    width: 100% !important;
    padding: var(--padd1);
  }
  .ftopicz2 {
    border-top: var(--border1);
    background: var(--back2);
  }
  .ftoplava {
    display: none !important;
  }
  .forcont .frcinfo .frclinks {
    line-height: 75% !important;
  }
  .category:has(.frcbackground) .forum .frcdesc {
    display: none !important;
  }
  /* estadisticas */
  .statlinks,
  .statsright {
    flex: 1 0 100%;
    flex-direction: row !important;
  }
  .statonline,
  .stattwenty {
    max-height: 16rem !important;
  }
  #statistics .statgroups > a {
    flex: 1 0 9%;
    height: var(--padd6) !important;
  }
  /* posts */
  .postprofile {
    display: none;
  }
  #textarea_content .sceditor-group {
    gap: var(--gap3);
  }
  #textarea_content .sceditor-group:not(:last-of-type)::after {
    margin-left: var(--gap1); 
  }
  .sceditor-container .sceditor-toolbar {
    gap: var(--gap3) var(--gap5);
  }
  .dicethrow .diceres > strong {
    flex: 1 0 16% !important;
    max-width: 10rem !important;
  }
  /* prevs */
  a.usgp {
    flex: 1 0 40% !important;
  }
  .mhava, .phicon {
    display: none;
  }
  /* config */
  #cp-main.ucp-vigi table.table1 thead th:nth-of-type(3),
  #cp-main.ucp-vigi table.table1 thead th:nth-of-type(4),
  #cp-main.ucp-vigi table.table1 thead th:nth-of-type(6),
  #cp-main.ucp-vigi table tbody tr td:nth-of-type(3),
  #cp-main.ucp-vigi table tbody tr td:nth-of-type(4),
  #cp-main.ucp-vigi table tbody tr td:nth-of-type(6),
  #cp-main.ucp-drafts table.table1 thead th:nth-of-type(1),
  #cp-main.ucp-drafts table.table1 tbody tr td:nth-of-type(1),
  #cp-main.ucp-drafts table.table1 thead th:nth-of-type(3),
  #cp-main.ucp-drafts table.table1 tbody tr td:nth-of-type(3) {
    display: none !important;
  }
}

@media (max-width: 950px) {
  /* header */
  header {
    max-height: 500px;
  }
  .himg {
    background-image: var(--pngimg-2);
  }
  /* footer */
  #page-footer .navbar ul {
    gap: var(--gap3);
    justify-content: space-between;
  }
  #page-footer ul.linklist li.footer-home {
    font-size: 0px;
  }
  #page-footer ul.linklist li.footer-home:after {
    content: "";
    display: none;
  }
  #page-footer ul.linklist li.footer-home > a:before {
    content: "\f80a";
    font: var(--fo-icon2);
    font-size: var(--fs-bigger);
  }
  /* cuerpo */
  .forum {
    max-width: none;
  }
  /* memberlist */
  & .memberfilters {
    & .mbm-filtgroup {
      &:not(.showfilters) {
        & strong {
          &:before {
            content: '\2b';
          }
        }
        & ul {
          display: none;
        }
      }
      & strong {
        cursor: var(--crs2);
        &:before {
          content: '\f068';
          font: var(--fo-icon4);
          color: var(--txt1);
          font-weight: 900;
          margin-right: var(--gap2);
        }
      }
    }
  }
}

@media (max-width: 900px) {
  /* posts */
  .postprofile {
    display: none;
  }
  .post .postbody {
    min-height: unset;
  }
}

@media (max-width: 700px) {
  input.inputbox,
  select.inputbox {
    width: 100% !important;
    display: flex !important;
  }
  /* config */
  #cp-main.ucp-vigi table tbody tr td:nth-of-type(4),
  #cp-main.ucp-vigi table.table1 thead th:nth-of-type(4),
  #cp-main.ucp-vigi table tbody tr td:nth-of-type(6),
  #cp-main.ucp-vigi table.table1 thead th:nth-of-type(6) {
    display: none !important;
  }
  .panel.ucp-informacinderegistro dl.ucp- {
    display: none !important;
  }
  /* foros y subforos */
  .ftopic {
    flex-direction: column !important;
    padding: 0px !important;
    gap: 0px !important;
  }
  .ftopic > div {
    width: 100% !important;
    padding: var(--padd1);
  }
  .ftopicz2 {
    border-top: var(--border1);
    background: var(--back2);
  }
  .ftoplava {
    display: none !important;
  }
  /* posts */
  .phicon img, .mhava img {
    width: var(--icon1);
    height: var(--icon1);
  }
  /* footer */
  footer .skincredit > span {
    display: none;
  }
}

@media (max-width: 600px) {  
  :root, * {
    --nav-height: calc(var(--navbar-height) + var(--sidenav-height) - 1px);
    --sidenav-height: 2.5rem;
    --sidenav-width: 0px;
  }
  /* header */
  .himg {
    background-image: var(--pngimg-3);
  }
  /* navbars */
  .nvtree:has(a:nth-child(n+3)) > a > span {
    max-width: 5rem;
  }
  .nvside {
    width: 100%;
    padding-block: var(--gap3);
    flex-direction: row;
    top: calc(var(--navbar-height) - 1px);
    line-height: 1em;
    border-right: none;
    border-bottom: var(--border1);
    height:var(--sidenav-height);
  }
  .nvside > div {
    flex-direction: row;
  }
  .nvside a:before {
    font-size: var(--fs-text);
  }
  .nvava {
    display: none !important;
  }
  .nvtop {
    padding: var(--gap3);
  }
  /* config */
  #cp-main.ucp-drafts table.table1 thead th:nth-of-type(1),
  #cp-main.ucp-drafts table.table1 tbody tr td:nth-of-type(1),
  #cp-main.ucp-drafts table.table1 thead th:nth-of-type(3),
  #cp-main.ucp-drafts table.table1 tbody tr td:nth-of-type(3) {
    display: none !important;
  }
  /* foros y subforos */
  .forum {
    flex-direction: column !important;
    flex: 1 0 100%;
  }
  .forum .forcont {
    border-right: none;
  }
  .forum .forava {
    width: 100%;
    max-width: none !important;
    border-top: var(--border1);
    min-height: auto;
    min-width: auto;
    padding: var(--padd0);
    position: relative !important;
    gap: var(--padd0);
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: end;
  }
  .forum .forava:before {
    display: none;
  }
  .forava .fraava {
    outline: var(--bthickness) solid var(--accent);
    filter: none;
    outline-color: var(--group);
    outline-offset: 2px;
  }
  .forum .forava:empty:before,
  .forava .fraava img {
    filter: var(--filter1) !important;
  }
  .forava .fraava,
  .forum .forava:empty:before,
  .forava .fraava img {
    position: relative !important;
    width: var(--icon1);
    height: var(--icon1);
    border-radius: var(--bradius);
    overflow: hidden;
    flex-shrink: 0;
  }
  .fralicon {
    bottom: initial !important;
    right: initial !important;
    top: var(--padd0) !important;
    left: var(--padd0) !important;
  }
  .category:has(.frcbackground) .forum .forcont {
    min-height: 21rem;
    position: relative;
  }
  .category:has(.frcbackground) .forum .forava {
    background: var(--back1);
  }
  /* tablon */
  #tablon {
    justify-content: center;
  }
  .tlupst, .tadm, .tdesc, .tupd, .teve .teeve:not(:first-of-type) {
    display: none !important;
  }
  .tlupst:nth-of-type(1),
  .tlupst:nth-of-type(2),
  .tlupst:nth-of-type(3),
  .tlupst:nth-of-type(4),
  .tlupst:nth-of-type(5),
  .tlupst:nth-of-type(6),
  .tlupst:nth-of-type(7),
  .tlupst:nth-of-type(8) {
    display: block !important;
  }
  .tlupst:nth-of-type(8) {
    margin-bottom: 0px !important;
  }
  .tlocupd,
  .teve {
    flex: 1 0 100% !important;
  }
  .tadm > a,
  .teve .teeve {
    height: 100%;
  }
  .teve {
    height: 7.4rem;
  }
  /* estadisticas */
  .statlinks,
  .statsright,
  .statlastu
  {
    flex: 1 0 100%;
    flex-direction: row !important;
  }
  .statlastu > .stlstuava {
    width: var(--icon2);
    height: var(--icon2);
  }
  .stlstunam > strong {
    font-size: var(--fs-bigger);
  }
  .statsright,
  .statonline,
  .stattwenty {
    min-width: auto;
  }
  .statonline,
  .stattwenty {
    max-height: auto !important;
  }
  /* config */
  fieldset dd {
    margin-left: 0px !important;
  }
  fieldset dt {
    width: 100% !important;
  }
  #cp-main.ucp-vigi table tbody tr td:nth-of-type(3),
  #cp-main.ucp-vigi table.table1 thead th:nth-of-type(3) {
    display: none !important;
  }
  /* posts */
  .pbinfo {
    position: static;
  }
  .signature_div {
    margin-bottom: 0;
  }
  .sigcont .signature_div > br:first-of-type {
    display: none !important;
  }
  .mhava img, .phicon img {
    width: var(--icon0);
    height: var(--icon0);
  }
  /* foros y subforos */
  .cattitle h2 {
    margin-bottom: var(--gap2);
  }
  /* perfil */
  body:has(#profile) {
    main {
      min-height: calc(100vh - var(--nav-height));
      margin-top: var(--sidenav-height);
    }
  }
}

@media (max-width: 500px) {  
  :root, * {
    --bodypadd: var(--padd0);
    --bodywidth: unset;
  }
  /* navbars */
  .nvtree:has(a:nth-child(n+2)) > a > span {
    max-width: 3.5rem;
  }
  .nvtree:has(a:nth-child(n+4)) > a > span {
    max-width: 3.5rem;
  }
  .nvnlinks,
  .nvupanel {
    gap: var(--gap5);
  }
  /* tablon */
  .teve {
    height: 7.7rem;
  }
  .teve .teeve {
    height: 100%;
  }
  .tupd, .tlult, .tlocupd {
    min-width:auto;
    flex:1 0 100%;
    line-height: 1em;
  }
  /* posts */
  dl.codebox.spoiler > dd {
    padding: 0px;
  }
  .nvava {
    display: none;
  }
  .phmquote {
    display: none;
  }
}

@media (max-width: 450px) {  
  /* posts */
  .phicon, .mhava {
    display: none;
  }
}

/* CONTAINERS - PERFIL */
@container profinfocont (min-height:590px) {
  .pfcname, .pfcuname {
    font-size: var(--fo-h1-clamp)!important;
  }
  .pfcmain, .pfcuinfo {
    padding: var(--paddclamp2);
    gap: var(--paddclamp2) var(--paddclamp4);
  }
}
@container profcont (max-width: 870px) {
  .profcont {
    flex-direction: column-reverse;
    padding-top: 0;
    position: relative;
    height: 100%;
    min-width: fit-content!important;
    & .profimg {
      max-width: 100%!important;
      min-width: auto!important;
      border-left: none!important;
      border-bottom: var(--border1);
      min-height: 22rem !important;
      flex: 1 0 20% !important;
      max-height: 22rem !important;
    }
  }
  #car-hold {
    height: 100% !important;
    min-height: 31rem !important;
    flex: 1 !important;
  }
}
@container profcont (max-width: 560px) {
  .pfcmain, .pfcuinfo {
    & > div {
      flex: 1 0 30%;
    }
  }
  .pfcupjs {
    width: 100%;
  }
  .pfcuser {
    display: flex;
    flex-wrap: wrap;
  }
}
@container profcont (max-width: 450px) {
  #car-hold {
    flex: 1 !important;
  }
  .pfcmain, .pfcuinfo {
    & > div {
      flex-basis: calc((100% / 2) - var(--paddclamp5));
    }
  }
  .pfcutriggers, .pfcupjs {
    flex-basis: 100%;
  }
}

/* CONTAINERS - MEMBERLIST */
@container memberlist-members (min-width: 520px) {
  & .mbmember {
    max-width: 65%;
  }
}
@container memberlist-membercont (max-width: 350px) {
  & .mbmc-data {
    & div {
      flex: 1 0 40% !important;
    }
  }
}
