/*IMAGENES DE GRUPOS*/
.mbmember:is([class*="group-staff"], [class*="group-nadie"]) {--profgrimg: url('https://d.l3n.co/bVGcoP.png');}
.mbmember:is([class*="group-nogroup"]) {--profgrimg: url('https://b.l3n.co/bVFPFi.jpg');}
.mbmember:is([class*="group-nemesis"]) {--profgrimg: url('https://d.l3n.co/bVGE2i.png');}
.mbmember:is([class*="group-tyche"]) {--profgrimg: url('https://d.l3n.co/bVUj80.png');}
.mbmember:is([class*="group-persefone"]) {--profgrimg: url('https://b.l3n.co/bVGkCo.png');}
.mbmember:is([class*="group-afrodita"]) {--profgrimg: url('https://a.l3n.co/bVUrRM.png');}
.mbmember:is([class*="group-dioniso"]) {--profgrimg: url('https://d.l3n.co/bVG6S9.png');}
.mbmember:is([class*="group-hades"]) {--profgrimg: url('https://a.l3n.co/bVU1Fa.png');}
.mbmember:is([class*="group-hecate"]) {--profgrimg: url('https://a.l3n.co/bVcFav.png');}
.mbmember:is([class*="group-hypnos"]) {--profgrimg: url('https://d.l3n.co/bVyN5x.png');}
.mbmember:is([class*="group-artemisa"]) {--profgrimg: url('https://c.l3n.co/bVGCx2.png');}
.mbmember:is([class*="group-poseidon"]) {--profgrimg: url('https://c.l3n.co/bV5o45.png');}
.mbmember:is([class*="group-atenea"]) {--profgrimg: url('https://b.l3n.co/bVUIeq.png');}
.mbmember:is([class*="group-khione"]) {--profgrimg: url('https://b.l3n.co/bVGQ1v.png');}
.mbmember:is([class*="group-hebe"]) {--profgrimg: url('https://a.l3n.co/bVGHpD.png');}
.mbmember:is([class*="group-iris"]) {--profgrimg: url('https://d.l3n.co/bVGlFq.png');}
.mbmember:is([class*="group-demeter"]) {--profgrimg: url('https://c.l3n.co/bVGSIA.png');}
.mbmember:is([class*="group-hermes"]) {--profgrimg: url('https://d.l3n.co/bVGeBM.png');}
.mbmember:is([class*="group-hestia"]) {--profgrimg: url('https://c.l3n.co/bVGnoQ.png');}
.mbmember:is([class*="group-apolo"]) {--profgrimg: url('https://d.l3n.co/bVGFIK.png');}
.mbmember:is([class*="group-zeus"]) {--profgrimg: url('https://a.l3n.co/bVGUmZ.png');}
.mbmember:is([class*="group-hefesto"]) {--profgrimg: url('https://a.l3n.co/bVGYek.png');}
.mbmember:is([class*="group-ares"]) {--profgrimg: url('https://c.l3n.co/bVU0JD.png');}

#memberlist {
  gap: var(--paddclamp5);
  flex-wrap: wrap;
  container: memberlist / inline-size;
  .mbm-nav {
    position: sticky;
    top: calc(var(--nav-height) + var(--padd1));
    flex: 1 0 25%;
    background: var(--tback1);
    gap: var(--padd0);
    border: var(--border1);
    border-radius: var(--bradius);
    padding: var(--paddclamp6);
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    margin: 0;
    min-width: 17.2rem;
    z-index: 3;
    max-height: calc(100vh - (var(--nav-height) + (var(--padd1) * 2)));
    overflow: auto;
    > strong {
      text-transform: uppercase;
      width: 100%;
      font: var(--fo-h4);
      color: var(--txt1);
      text-shadow: 1px 1px .5px var(--accent);
      line-height: 85%;
      font-size: var(--fo-h4-clamp);
    }
    form {
      width: 100%;
      > div {
        gap: var(--gap3);
        flex-wrap: wrap;
        > div {
          flex: 1;
          :is(input) {
            min-width: auto!important;
            width: 100%!important;
            flex: 1;
          }
        }
        :is(input) {
          flex: none;
        }
      }
    }
    .memberfilters {
      width: 100%;
      gap: var(--padd0);
      .mbm-filtgroup {
        width: 100%;
        &:not(.showfilters) {
          strong:before {
             content:'\f068';
           }
        }
        &.showfilters {
          strong:before {
            content: '\2b';
          }
          ul {         
            max-height: 0;
            overflow: hidden;
            transition: var(--trs2);
            margin-top: 0;
          }
        }
        strong {
          cursor: var(--crs2);
          font: var(--fo-bod-alt2);
          text-transform: uppercase;
          color: var(--accent);
          font-weight: 900;
          line-height: 100%;   
          &:before {
            content: '\f068';
            font: var(--fo-icon4);
            color: var(--txt1);
            font-weight: 900;
            margin-right: var(--gap2);
          }
        }
        ul {
          display: flex;
          flex-wrap: wrap;
          gap: var(--gap2) var(--gap3);
          margin: 0;
          padding: 0;   
          max-height: 35.8rem;
          transition: var(--trs2);
          
          margin-top: var(--gap4);
                  li {
            font: var(--fo-deco2);
            line-height: 100%;
            display: flex;
            gap: var(--gap0);
            align-items: center;
            a {
              color: var(--txt4);
              text-transform: lowercase;
              font-style: italic;
              font-weight: 300;
              text-decoration-color: var(--taccent);
              &.selected {
                text-transform: uppercase;
                font-weight: 800;
                color: var(--txt2);
                font-style: normal;
                text-decoration: var(--bthickness) underline var(--taccent);
                text-underline-offset: var(--bthickness);
              }
            }
            .filter-count {
              font-weight: 600;
              font-size: var(--fs-smallest);
              color: var(--back1);
              background: var(--group);
              border-radius: var(--bradius);
              padding: var(--gap0);
              text-box: trim-both cap alphabetic;
            }          
          }
        }
      }
    }
  }
  .mbmembers {
    flex: 1 0 65%;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    gap: 0;
    flex-wrap: wrap;
    height: fit-content;
    container: memberlist-members / inline-size;
    margin: calc((var(--paddclamp5) / 2) * -1);
    .mbmember {
      flex: 1 0 30%;
      border: var(--border1);
      width: calc(50% - var(--paddclamp5));
      min-width: 19rem;
      height: fit-content;
      container: memberlist-membercont / inline-size;
      flex-grow: 1;
      overflow: hidden;
      align-self: center;      
      margin: calc(var(--paddclamp5) / 2);
      &[class*="-administrador"] {
        display: none;
      } 
      .mbm-top {
        position: relative;
        border-bottom: var(--border1);
        justify-content: center;
        align-items: center;
        min-height: 17rem;
        background: var(--back2);
        text-align: center;
        overflow: hidden;
        padding: var(--paddclamp5);
        gap: var(--gap5);
        width: 100%;
        .mbmt-img {
          height: 100%;
          width: 100%;
          position: absolute;
          z-index: 0;
          &:before, &:after {
            content: '';
            position: absolute;
            z-index: 0;
            height: 100%;
            width: 100%;
            inset: 0;
          }
          &:before {
            background: var(--tback1);
            filter: var(--filter2);
            background-image: var(--profgrimg);
            background-size: cover;
            background-position: center;
          }
          &:after {
            background: var(--accent);
            opacity: 1;
            mix-blend-mode: multiply;
          }
        }
        .mbmt-ava {
          position: relative !important;
          width: var(--icon2);
          height: var(--icon2);
          border-radius: var(--bradius);
          overflow: hidden;
          flex-shrink: 0;
          outline: var(--bthickness) solid var(--accent);
          filter: none;
          outline-color: var(--group);
          outline-offset: var(--bthickness);
          margin: var(--bthickness);
          z-index: 2;
          &:before {
            content: "";
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            inset: 0;
            background: var(--tback1);
            opacity: 0.5;
            mix-blend-mode: multiply;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center 30%;
            filter: var(--filter2);
          }
        }
        .mbm-visit {
          gap: var(--gap2);
          position: relative;
          z-index: 2;
          b {
            text-transform: uppercase;
            font: var(--fo-deco2);
            font-weight: 700;
            color: var(--txt4);
            line-height: 100%;
          }
          em {
            text-transform: uppercase;
            font: var(--fo-deco3);
            font-weight: 700;
            color: var(--txt3);
            line-height: 100%;
            border-radius: var(--bradius);
            border-top: var(--tborder);
            border-left: var(--tborder);
            border-right: var(--tborder);
            padding: var(--gap0) var(--gap2);
          }
        }
      }
      .mbm-cont {
        flex: 1;
        background: var(--tback1);
        padding: var(--paddclamp6);
        gap: var(--paddclamp6);
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        min-height: 20rem;
        .mbmc-imp {
          position: relative;
          z-index: 1;
          gap: var(--gap2);
          width: 100%;
          .mbmci-name {
            text-transform: uppercase;
            font: var(--fo-h4);
            font-size: var(--fo-h4-clamp);
            line-height: 90%;
            span {
              color: var(--txt1)!important;
              text-shadow: 1.5px 1px .5px var(--group);
            }
          }
          .mbmci-desc {
            &:before {
              content: "";
              width: var(--paddclamp2);
              min-width: var(--gap3);
              height: var(--bthickness);
              display: inline-block;
              background: var(--taccent);
              margin-right: var(--gap2);
              position: relative;
              align-self: center;
            }
            > div {
              text-transform: lowercase;
              font: var(--fo-deco2);
              font-weight: 300;
              font-style: italic;
              color: var(--txt4);
              line-height: 100%;
              width: 100%;
              span div {
                display: inline;
              }
            }
          }
        }
        .mbmc-data {
          text-transform: uppercase;
          border-radius: var(--bradius);
          border-bottom: var(--border2);
          border-top: var(--border2);
          padding: var(--paddclamp6);
          width: 100%;
          flex-wrap: wrap;
          gap: var(--paddclamp6);
          overflow: auto;
          max-height: calc((2rem * 3) + (var(--paddclamp6) * 2) + (var(--paddclamp6) * 2));
          div {
            flex: 1 0 calc((100% /2) - var(--paddclamp6));
            gap: var(--gap1);
            justify-content: center;
            line-height: 80%;
            em {
              text-transform: uppercase;
              font: var(--fo-deco2);
              font-weight: 800;
              color: var(--txt4);
              line-height: 100%;
              &:empty {
                &:before {
                  content: 'Desconocido';
                }
              }
            }
            b {
              text-transform: uppercase;
              font: var(--fo-bod2);
              font-weight: 900;
              line-height: 85%;
              color: var(--txt2);
            }
            &:has(.mbm-naci) {
              display: none;
            }
          }
        }
        .mbmc-links {
          flex-wrap: wrap;
          gap: var(--gap3);
          width: 100%;
          justify-content: flex-start;
          align-items: center;
          &:empty {
            &:before {
              content: "Este usuario no tiene links";
              text-transform: uppercase;
              font: bold var(--fs-small) var(--font2);
              color: var(--txt4);
            }
          }
          div {
            &:is(:empty, :has(a[href*="undefined"]), :has(a:empty)) {
              display: none;
            }
            a {
              color: var(--group) !important;
              background: var(--back1);
              height: var(--padd4);
              width: var(--padd4);
              display: flex;
              justify-content: center;
              align-items: center;
              border: var(--border1);
              border-radius: var(--bradius);
              font-size: var(--fs-body);
              &:hover {
                color: var(--back1) !important;
                background: var(--group);
                border-color: var(--group);
              }
            }
          }
        }
      }
    }
  }
  .mbm-nomember {
    flex: 1 0 65%;
    align-self: stretch;
    height: unset!important;
    text-align: center;
    padding: var(--paddclamp1);
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: var(--border1);
    background: var(--tback2);
    strong {
      font: var(--fo-bod2);
      font-weight: bold;
      position: relative!important;
      color: var(--txt4)!important;
      top: unset!important;
      left: unset!important;
    }
  }
}
