/* ARCILLA */
@font-face {
    font-family: 'Arcilla';
    src: url('https://hofarpg.github.io/hofa/fuentes/arcilla/arcilla-thin.woff2');
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: 'Arcilla';
    src: url('https://hofarpg.github.io/hofa/fuentes/arcilla/arcilla-thinitalic.woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Arcilla';
    src: url('https://hofarpg.github.io/hofa/fuentes/arcilla/arcilla-extralight.woff2');
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Arcilla';
    src: url('https://hofarpg.github.io/hofa/fuentes/arcilla/arcilla-extralightitalic.woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Arcilla';
    src: url('https://hofarpg.github.io/hofa/fuentes/arcilla/arcilla-light.woff2');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Arcilla';
    src: url('https://hofarpg.github.io/hofa/fuentes/arcilla/arcilla-lightitalic.woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Arcilla';
    src: url('https://hofarpg.github.io/hofa/fuentes/arcilla/arcilla-regular.woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Arcilla';
    src: url('https://hofarpg.github.io/hofa/fuentes/arcilla/arcilla-italic.woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Arcilla';
    src: url('https://hofarpg.github.io/hofa/fuentes/arcilla/arcilla-medium.woff2');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Arcilla';
    src: url('https://hofarpg.github.io/hofa/fuentes/arcilla/arcilla-mediumitalic.woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Arcilla';
    src: url('https://hofarpg.github.io/hofa/fuentes/arcilla/arcilla-semibold.woff2');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Arcilla';
    src: url('https://hofarpg.github.io/hofa/fuentes/arcilla/arcilla-semibolditalic.woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Arcilla';
    src: url('https://hofarpg.github.io/hofa/fuentes/arcilla/arcilla-bold.woff2');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Arcilla';
    src: url('https://hofarpg.github.io/hofa/fuentes/arcilla/arcilla-bolditalic.woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Arcilla';
    src: url('https://hofarpg.github.io/hofa/fuentes/arcilla/arcilla-extrabold.woff2');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Arcilla';
    src: url('https://hofarpg.github.io/hofa/fuentes/arcilla/arcilla-extrabolditalic.woff2');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Arcilla';
    src: url('https://hofarpg.github.io/hofa/fuentes/arcilla/arcilla-black.woff2');
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: 'Arcilla';
    src: url('https://hofarpg.github.io/hofa/fuentes/arcilla/arcilla-blackitalic.woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
