/* ARCILLA */
@font-face {
    font-family: 'Arcilla';
    src: url('./ARCILLA/Arcilla Thin/Arcilla-Thin.woff2') format('woff2'),
        url('./ARCILLA/Arcilla Thin/Arcilla-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('./ARCILLA/Arcilla Thin/Arcilla-ThinItalic.woff2') format('woff2'),
        url('./ARCILLA/Arcilla Thin/Arcilla-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('./ARCILLA/Arcilla ExtraLight/Arcilla-ExtraLight.woff2') format('woff2'),
        url('./ARCILLA/Arcilla ExtraLight/Arcilla-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('./ARCILLA/Arcilla ExtraLight/Arcilla-ExtraLightItalic.woff2') format('woff2'),
        url('./ARCILLA/Arcilla ExtraLight/Arcilla-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('./ARCILLA/Arcilla Light/Arcilla-Light.woff2') format('woff2'),
        url('./ARCILLA/Arcilla Light/Arcilla-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('./ARCILLA/Arcilla Light/Arcilla-LightItalic.woff2') format('woff2'),
        url('./ARCILLA/Arcilla Light/Arcilla-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('./ARCILLA/Arcilla Regular/Arcilla-Regular.woff2') format('woff2'),
        url('./ARCILLA/Arcilla Regular/Arcilla-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('./ARCILLA/Arcilla Regular/Arcilla-Italic.woff2') format('woff2'),
        url('./ARCILLA/Arcilla Regular/Arcilla-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('./ARCILLA/Arcilla Medium/Arcilla-Medium.woff2') format('woff2'),
        url('./ARCILLA/Arcilla Medium/Arcilla-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('./ARCILLA/Arcilla Medium/Arcilla-MediumItalic.woff2') format('woff2'),
        url('./ARCILLA/Arcilla Medium/Arcilla-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('./ARCILLA/Arcilla SemiBold/Arcilla-SemiBold.woff2') format('woff2'),
        url('./ARCILLA/Arcilla SemiBold/Arcilla-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('./ARCILLA/Arcilla SemiBold/Arcilla-SemiBoldItalic.woff2') format('woff2'),
        url('./ARCILLA/Arcilla SemiBold/Arcilla-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('./ARCILLA/Arcilla Bold/Arcilla-Bold.woff2') format('woff2'),
        url('./ARCILLA/Arcilla Bold/Arcilla-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('./ARCILLA/Arcilla Bold/Arcilla-BoldItalic.woff2') format('woff2'),
        url('./ARCILLA/Arcilla Bold/Arcilla-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('./ARCILLA/Arcilla ExtraBold/Arcilla-ExtraBold.woff2') format('woff2'),
        url('./ARCILLA/Arcilla ExtraBold/Arcilla-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('./ARCILLA/Arcilla ExtraBold/Arcilla-ExtraBoldItalic.woff2') format('woff2'),
        url('./ARCILLA/Arcilla ExtraBold/Arcilla-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('./ARCILLA/Arcilla Black/Arcilla-Black.woff2') format('woff2'),
        url('./ARCILLA/Arcilla Black/Arcilla-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arcilla';
    src: url('./ARCILLA/Arcilla Black/Arcilla-BlackItalic.woff2') format('woff2'),
        url('./ARCILLA/Arcilla Black/Arcilla-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
